etc/osis/osisCore.1.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bibletechnologies.net/2003/OSIS/namespace" xmlns="http://www.bibletechnologies.net/2003/OSIS/namespace" elementFormDefault="unqualified" attributeFormDefault="unqualified" xml:lang="en">
	<!-- xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/ -->
	<!--
	<xs:attribute name="lang" type="xs:language" >
		<xs:annotation>
			<xs:documentation>In due course, we should install the relevant ISO 2- and 3-letter
         codes as the enumerated possible values . . .</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="space" default="preserve">
		<xs:simpleType>
			<xs:restriction base="xs:NCName">
				<xs:enumeration value="default"/>
				<xs:enumeration value="preserve"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute name="base" type="xs:anyURI">
		<xs:annotation>
			<xs:documentation>See http://www.w3.org/TR/xmlbase/ for
                     information about this attribute.</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attributeGroup name="specialAttrs">
		<xs:attribute ref="xml:base"/>
		<xs:attribute ref="xml:lang"/>
		<xs:attribute ref="xml:space"/>
	</xs:attributeGroup>
	-->
	<xs:annotation>
		<xs:documentation>
			<p>This is the OSIS 1.5 schema and is a revision of the OSIS 1.1.1 schema. There have been a number of changes and modifications to make the schema more flexible.</p>
			<p>Among the major changes are:</p>
			<p> 1) The basic hierarchy of an OSIS encoded document is that of &lt;div&gt;/&lt;p&gt;. Recognizing that many users would prefer the semantics of &lt;div&gt; type=book, &lt;chapter&gt;, &lt;verse&gt;, elements for those divisions have been included. It is always possible to derive the div/chapter/verse division from the div/p hierarchy but the converse is not true. Therefore, the div/p hierarchy has priority and all other elements break if they must cross the boundaries of those elements. To make the breaking of those elements easier, the revised OSIS schema allows &lt;abbr&gt;, &lt;chapter&gt;, &lt;closer&gt;, &lt;div&gt;, &lt;foreign&gt;, &lt;l&gt;, &lt;lg&gt;, &lt;q&gt;, &lt;salute&gt;, &lt;seg&gt;, &lt;signed&gt;, &lt;speech&gt;, &lt;verse&gt;, to be encoded as empty elements, bearing an sID on the starting empty element and eID of the same value on the ending empty element. The sID and eID, allows identification of whether the empty element is a beginning or ending milestone, which may be important for processing for display or in XML fragment situations. In some cases, even though the schema technically permits a &lt;chapter&gt; element as a child of &lt;verse&gt; for example, it is constrained in prose to appear only as the empty element milestone version of that element. This was required due to the modern practice of ignoring the classic book/chapter/verse divisioning of the text while retaining the older division for reference purposes.</p>
			<p> 2) Numerous &lt;div&gt; types have been added, such as afterword, front, map, etc. See the simpleType: osisDivs.</p>
			<p> 3) Since this schema is intended for use with biblical texts, an attribute to allow elements to be marked as canonical has been added. By default, the canonical attribute has been set to true, for verses and false for notes and titles. Whether a portion of text is canonical or not, is inherited from its container element. Thus, all text found in a verse, is canonical, while all the text within a note (or its subelements) is not. The title and head elements may contain text that is canonical or may be material added by a translator.</p>
			<p>Welcome to the OSIS 1.5 schema for encoding biblical literature! This schema is designed as the basic set of elements necessary to encode bibles and related literature in XML. It does not provide all the functions needed by translators, publishers or scholars, but modules with those enhanced abilities are being developed to work with this schema. The user will be able to learn a core set of elements (the ones in OSIS 1.5, and then leverage that knowledge by adding the appropriate elements from the additional modules.</p>
			<p>The core elements that would be used for encoding a Bible or related text number 45 (excluding the header and large container elements such as osisText. This is less than HTML 3.2, which to date is one of the most widely used markup languages. It is suggested that beginning users start with one of the sample documents and suggested passages to begin using the core element set for basic markup. Once you have mastered the basic uses of the core set, you can move onto using some of the optional attributes and features of the core set.</p>
			<p>The OSIS family of schemas is definitely a work in progress and is supported by both the American Bible Society and the Society of Biblical literature, with additional contributions from the United Bible Society and SIL, as well as tireless efforts of numerous volunteers. While freely available for all purposes, it is requested that use of the schemas be acknowledged as appropriate and that problems or suggestions for improvements be forwarded to the project.</p>
			<p>The OSIS schemas were written by a small core of technical and content experts who volunteered large blocks of time for this project: Steve DeRose (sderose@acm.org), co-chair of the Bible Technologies Group (co-sponsored by the ABS and SBL), Kees De Blois, co-chair of the Bible Technologies Group (kdeblois@solcon.nl), Troy Griffiths (scribe@crosswire.org), Chris Little (chrisl@crosswire.org), Todd Tillinghast (todd@contentframeworks.com), Harry Plantinga (hplantin@calvin.edu), Eric Albright (eric-allison_albright@sil.org), Kirk Lowery (klowery@wts.edu), and Patrick Durusau (Patrick.Durusau@sbl-site.org).</p>
			<p>Outside of the core technical team, special thanks go to Adina Hamik (ABS), Bob Hodgson (ABS), John Walter (ABS) and Mike Perez (eABS) for their organization of both domestic and international meetings of the OSIS project and their unflagging support for its efforts.</p>
			<p>While the history of the OSIS project is ongoing, users should be aware of the pivotal role of Dennis Drescher (Dennis_Drescher@sil.org) in his organization of a breakfast meeting at XML 2000 on Bible encoding that lead to the formation of the Bible Technologies Workgroup and hence the OSIS project.</p>
			<p>The fundamental goal of the OSIS project is to provide a common format that supports multiple visions of and purposes for Bibles and related texts. By pooling the interests of the wide variety of communities interested in biblical texts, the OSIS project seeks to provide the basis for tools and texts that will benefit all of these diverse communities.</p>
			<p>The lastest version of the OSIS schema and user documentation can always be found at: http://www.bibletechnolies.org and comments can be forewarded to the OSIS Technical Editors, Patrick Durusau, Patrick.Durusau@sbl-site.org or Steve DeRose, sdreose@acm.org.</p>
		</xs:documentation>
	</xs:annotation>
	<xs:element name="osis">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="osisCorpus"/>
				<xs:element ref="osisText"/>
			</xs:choice>
			<xs:attribute name="TEIform" fixed="TEI.2"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="osisCorpus">
		<xs:complexType>
			<xs:sequence minOccurs="1" maxOccurs="unbounded">
				<xs:element ref="header" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="osisText"/>
			</xs:sequence>
			<xs:attribute name="TEIform" fixed="teiCorpus.2"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="osisText">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="header" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="div" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="osisIDWork" type="osisWorkType" use="required"/>
			<xs:attribute name="osisRefWork" type="osisWorkType" use="optional" default="Bible"/>
			<xs:attributeGroup ref="globalWithType"/>
			<xs:attribute name="canonical" type="xs:boolean" use="optional" default="true"/>
			<xs:attribute name="TEIform" fixed="text"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="header">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="revisionDesc" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="work" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="TEIform" fixed="teiHeader"/>
			<xs:attribute name="canonical" type="xs:boolean" use="optional" default="false"/>
		</xs:complexType>
	</xs:element>
	<!-- elements for header, with exceptions of title and head which are found with regular OSIS elements -->
	<xs:element name="actor">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="abbr"/>
				<xs:element ref="foreign"/>
				<xs:element ref="index"/>
				<xs:element ref="note"/>
				<xs:element ref="reference"/>
				<xs:element ref="seg"/>
				<xs:element ref="w"/>
			</xs:choice>
			<xs:attribute name="who" type="xs:string" use="optional"/>
			<xs:attributeGroup ref="globalWithType"/>
			<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
			<xs:attribute name="TEIform" fixed="actor"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="castGroup">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="head"/>
				<xs:element ref="castItem"/>
			</xs:choice>
			<xs:attributeGroup ref="globalWithType"/>
			<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
			<xs:attribute name="TEIform" fixed="castGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="castItem">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="actor"/>
				<xs:element ref="role"/>
				<xs:element ref="roleDesc"/>
			</xs:choice>
			<xs:attributeGroup ref="globalWithType"/>
			<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
			<xs:attribute name="TEIform" fixed="castItem"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="castList">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="castGroup"/>
			</xs:choice>
			<xs:attributeGroup ref="globalWithType"/>
			<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
			<xs:attribute name="TEIform" fixed="castList"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="contributor">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="file-as" type="xs:string" use="optional"/>
					<xs:attribute name="role" type="roleType" use="optional"/>
					<xs:attributeGroup ref="globalWithType"/>
					<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="coverage">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attributeGroup ref="globalWithType"/>
					<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="creator">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="role" type="roleType" use="optional"/>
					<xs:attributeGroup ref="globalWithType"/>
					<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="description">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attributeGroup ref="globalWithType"/>
					<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="format">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attributeGroup ref="globalWithType"/>
					<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="identifier">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attributeGroup ref="globalWithoutType"/>
					<xs:attribute name="type" type="identifierType"/>
					<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="language">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attributeGroup ref="globalWithType"/>
					<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="publisher">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attributeGroup ref="globalWithType"/>
					<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="refSystem">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attributeGroup ref="globalWithType"/>
					<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="relation">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attributeGroup ref="globalWithType"/>
					<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="revisionDesc">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="date" minOccurs="1"/>
				<xs:element ref="p" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attributeGroup ref="globalWithType"/>
			<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
			<xs:attribute name="TEIform" fixed="revisionDesc"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="rights">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attributeGroup ref="globalWithType"/>
					<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="role">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="abbr"/>
				<xs:element ref="foreign"/>
				<xs:element ref="index"/>
				<xs:element ref="note"/>
				<xs:element ref="reference"/>
				<xs:element ref="seg"/>
				<xs:element ref="w"/>
			</xs:choice>
			<xs:attributeGroup ref="globalWithType"/>
			<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
			<xs:attribute name="TEIform" fixed="role"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="roleDesc">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="abbr"/>
				<xs:element ref="foreign"/>
				<xs:element ref="index"/>
				<xs:element ref="note"/>
				<xs:element ref="reference"/>
				<xs:element ref="seg"/>
				<xs:element ref="w"/>
			</xs:choice>
			<xs:attributeGroup ref="globalWithType"/>
			<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
			<xs:attribute name="TEIform" fixed="roleDesc"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="subject">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attributeGroup ref="globalWithType"/>
					<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="source">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attributeGroup ref="globalWithType"/>
					<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="scope">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="osisRefType">
					<xs:attributeGroup ref="globalWithType"/>
					<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="teiHeader">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:any minOccurs="1" maxOccurs="unbounded" processContents="skip"/>
			</xs:sequence>
			<xs:attribute name="TEIform" fixed="teiHeader"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="type">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attributeGroup ref="globalWithoutType"/>
					<xs:attribute name="type" type="typeType" use="optional"/>
					<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="work">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title" minOccurs="0"/>
				<xs:element ref="contributor" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="creator" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="subject" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="date" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="description" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="publisher" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="type" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="format" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="identifier" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="source" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="language" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="relation" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="coverage" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="rights" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="scope" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="castList" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="teiHeader" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="refSystem" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="osisWork" type="osisWorkType" use="required"/>
			<xs:attributeGroup ref="globalWithType"/>
		</xs:complexType>
	</xs:element>
	<!-- end of header elements -->
	<!-- beginning of elements that occur within <div>, the main OSIS container element under <osisText> -->
	<xs:element name="a">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="index"/>
			</xs:choice>
			<xs:attributeGroup ref="globalWithType"/>
			<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
			<xs:attribute name="href" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="abbr">
		<xs:complexType mixed="true">
			<xs:complexContent>
				<xs:extension base="milestoneable">
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="a"/>
						<xs:element ref="divineName"/>
						<xs:element ref="foreign"/>
						<xs:element ref="index"/>
						<xs:element ref="name"/>
						<xs:element ref="note"/>
						<xs:element ref="reference"/>
						<xs:element ref="w"/>
					</xs:choice>
					<xs:attribute name="expansion" type="xs:string"/>
					<xs:attributeGroup ref="globalWithType"/>
					<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
					<xs:attribute name="TEIform" fixed="abbr"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="caption">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="abbr"/>
				<xs:element ref="date"/>
				<xs:element ref="divineName"/>
				<xs:element ref="foreign"/>
				<xs:element ref="hi"/>
				<xs:element ref="index"/>
				<xs:element ref="lb"/>
				<xs:element ref="milestone"/>
				<xs:element ref="name"/>
				<xs:element ref="note"/>
				<xs:element ref="q"/>
				<xs:element ref="reference"/>
				<xs:element ref="seg"/>
				<xs:element ref="w"/>
			</xs:choice>
			<xs:attributeGroup ref="globalWithType"/>
			<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
			<xs:attribute name="TEIform" fixed="figDesc"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="catchWord">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="abbr"/>
				<xs:element ref="date"/>
				<xs:element ref="divineName"/>
				<xs:element ref="foreign"/>
				<xs:element ref="hi"/>
				<xs:element ref="index"/>
				<xs:element ref="inscription"/>
				<xs:element ref="lb"/>
				<xs:element ref="list"/>
				<xs:element ref="mentioned"/>
				<xs:element ref="milestone"/>
				<xs:element ref="milestoneEnd"/>
				<xs:element ref="milestoneStart"/>
				<xs:element ref="name"/>
				<xs:element ref="note"/>
				<xs:element ref="q"/>
				<xs:element ref="reference"/>
				<xs:element ref="seg"/>
				<xs:element ref="speaker"/>
				<xs:element ref="title"/>
				<xs:element ref="transChange"/>
				<xs:element ref="w"/>
			</xs:choice>
			<xs:attributeGroup ref="globalWithType"/>
			<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="cell">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="abbr"/>
				<xs:element ref="date"/>
				<xs:element ref="divineName"/>
				<xs:element ref="figure"/>
				<xs:element ref="foreign"/>
				<xs:element ref="hi"/>
				<xs:element ref="index"/>
				<xs:element ref="inscription"/>
				<xs:element ref="lb"/>
				<xs:element ref="lg"/>
				<xs:element ref="list"/>
				<xs:element ref="milestone"/>
				<xs:element ref="milestoneEnd"/>
				<xs:element ref="milestoneStart"/>
				<xs:element ref="name"/>
				<xs:element ref="note"/>
				<xs:element ref="p"/>
				<xs:element ref="q"/>
				<xs:element ref="reference"/>
				<xs:element ref="salute"/>
				<xs:element ref="seg"/>
				<xs:element ref="signed"/>
				<xs:element ref="speaker"/>
				<xs:element ref="speech"/>
				<xs:element ref="table"/>
				<xs:element ref="title"/>
				<xs:element ref="transChange"/>
				<xs:element ref="verse"/>
				<xs:element ref="w"/>
			</xs:choice>
			<xs:attribute name="role" type="tableRole" use="optional"/>
			<xs:attributeGroup ref="globalWithType"/>
			<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
			<xs:attribute name="TEIform" fixed="cell"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="chapter">
		<xs:complexType mixed="true">
			<xs:complexContent>
				<xs:extension base="milestoneable">
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="a"/>
						<xs:element ref="abbr"/>
						<xs:element ref="date"/>
						<xs:element ref="div"/>
						<xs:element ref="divineName"/>
						<xs:element ref="figure"/>
						<xs:element ref="foreign"/>
						<xs:element ref="hi"/>
						<xs:element ref="index"/>
						<xs:element ref="inscription"/>
						<xs:element ref="lb"/>
						<xs:element ref="lg"/>
						<xs:element ref="list"/>
						<xs:element ref="mentioned"/>
						<xs:element ref="milestone"/>
						<xs:element ref="milestoneEnd"/>
						<xs:element ref="milestoneStart"/>
						<xs:element ref="name"/>
						<xs:element ref="note"/>
						<xs:element ref="p"/>
						<xs:element ref="q"/>
						<xs:element ref="reference"/>
						<xs:element ref="salute"/>
						<xs:element ref="seg"/>
						<xs:element ref="signed"/>
						<xs:element ref="speaker"/>
						<xs:element ref="speech"/>
						<xs:element ref="table"/>
						<xs:element ref="title"/>
						<xs:element ref="transChange"/>
						<xs:element ref="verse"/>
						<xs:element ref="w"/>
					</xs:choice>
					<xs:attribute name="chapterTitle" type="xs:string" use="optional"/>
					<xs:attribute name="osisRef" type="osisRefType" use="optional"/>
					<xs:attributeGroup ref="globalWithType"/>
					<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
					<xs:attribute name="TEIform" fixed="div"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="closer">
		<xs:complexType mixed="true">
			<xs:complexContent>
				<xs:extension base="milestoneable">
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="a"/>
						<xs:element ref="abbr"/>
						<xs:element ref="date"/>
						<xs:element ref="divineName"/>
						<xs:element ref="foreign"/>
						<xs:element ref="hi"/>
						<xs:element ref="index"/>
						<xs:element ref="lb"/>
						<xs:element ref="lg"/>
						<xs:element ref="list"/>
						<xs:element ref="mentioned"/>
						<xs:element ref="milestone"/>
						<xs:element ref="milestoneEnd"/>
						<xs:element ref="milestoneStart"/>
						<xs:element ref="name"/>
						<xs:element ref="note"/>
						<xs:element ref="p"/>
						<xs:element ref="q"/>
						<xs:element ref="reference"/>
						<xs:element ref="seg"/>
						<xs:element ref="signed"/>
						<xs:element ref="speaker"/>
						<xs:element ref="transChange"/>
						<xs:element ref="verse"/>
						<xs:element ref="w"/>
					</xs:choice>
					<xs:attributeGroup ref="globalWithType"/>
					<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
					<xs:attribute name="TEIform" fixed="closer"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="date">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="index"/>
				<xs:element ref="note"/>
				<xs:element ref="w"/>
			</xs:choice>
			<xs:attribute name="type" type="calendar" use="optional" default="ISO"/>
			<xs:attributeGroup ref="globalWithoutType"/>
			<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
			<xs:attribute name="TEIform" fixed="date"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="div">
		<xs:complexType mixed="true">
			<xs:complexContent>
				<xs:extension base="milestoneable">
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="a"/>
						<xs:element ref="abbr"/>
						<xs:element ref="chapter"/>
						<xs:element ref="date"/>
						<xs:element ref="div"/>
						<xs:element ref="divineName"/>
						<xs:element ref="figure"/>
						<xs:element ref="foreign"/>
						<xs:element ref="hi"/>
						<xs:element ref="index"/>
						<xs:element ref="inscription"/>
						<xs:element ref="lb"/>
						<xs:element ref="lg"/>
						<xs:element ref="list"/>
						<xs:element ref="mentioned"/>
						<xs:element ref="milestone"/>
						<xs:element ref="milestoneEnd"/>
						<xs:element ref="milestoneStart"/>
						<xs:element ref="name"/>
						<xs:element ref="note"/>
						<xs:element ref="p"/>
						<xs:element ref="q"/>
						<xs:element ref="reference"/>
						<xs:element ref="salute"/>
						<xs:element ref="seg"/>
						<xs:element ref="signed"/>
						<xs:element ref="speaker"/>
						<xs:element ref="speech"/>
						<xs:element ref="table"/>
						<xs:element ref="title"/>
						<xs:element ref="transChange"/>
						<xs:element ref="verse"/>
						<xs:element ref="w"/>
					</xs:choice>
					<xs:attribute name="type" type="divType" use="optional"/>
					<xs:attribute name="osisRef" type="osisRefType" use="optional"/>
					<xs:attribute name="scope" type="osisRefType" use="optional"/>
					<xs:attributeGroup ref="globalWithoutType"/>
					<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
					<xs:attribute name="TEIform" fixed="div"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="divineName">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="abbr"/>
				<xs:element ref="foreign"/>
				<xs:element ref="index"/>
				<xs:element ref="note"/>
				<xs:element ref="reference"/>
				<xs:element ref="seg"/>
				<xs:element ref="w"/>
			</xs:choice>
			<xs:attributeGroup ref="globalWithType"/>
			<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="figure">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="caption"/>
				<xs:element ref="index"/>
				<xs:element ref="note"/>
			</xs:choice>
			<xs:attribute name="osisRef" type="osisRefType" use="optional"/>
			<xs:attribute name="src" type="xs:string"/>
			<xs:attribute name="alt" type="xs:string" use="optional"/>
			<xs:attributeGroup ref="globalWithType"/>
			<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
			<xs:attribute name="TEIform" fixed="figure"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="foreign">
		<xs:complexType mixed="true">
			<xs:complexContent>
				<xs:extension base="milestoneable">
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="a"/>
						<xs:element ref="abbr"/>
						<xs:element ref="date"/>
						<xs:element ref="divineName"/>
						<xs:element ref="foreign"/>
						<xs:element ref="hi"/>
						<xs:element ref="index"/>
						<xs:element ref="lb"/>
						<xs:element ref="milestone"/>
						<xs:element ref="name"/>
						<xs:element ref="note"/>
						<xs:element ref="reference"/>
						<xs:element ref="seg"/>
						<xs:element ref="title"/>
						<xs:element ref="w"/>
					</xs:choice>
					<xs:attributeGroup ref="globalWithType"/>
					<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
					<xs:attribute name="TEIform" fixed="foreign"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="head">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="abbr"/>
				<xs:element ref="date"/>
				<xs:element ref="divineName"/>
				<xs:element ref="foreign"/>
				<xs:element ref="head"/>
				<xs:element ref="hi"/>
				<xs:element ref="index"/>
				<xs:element ref="lb"/>
				<xs:element ref="milestone"/>
				<xs:element ref="milestoneEnd"/>
				<xs:element ref="milestoneStart"/>
				<xs:element ref="name"/>
				<xs:element ref="note"/>
				<xs:element ref="q"/>
				<xs:element ref="reference"/>
				<xs:element ref="seg"/>
				<xs:element ref="w"/>
			</xs:choice>
			<xs:attributeGroup ref="globalWithType"/>
			<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
			<xs:attribute name="TEIform" fixed="head"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="hi">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="abbr"/>
				<xs:element ref="date"/>
				<xs:element ref="divineName"/>
				<xs:element ref="hi"/>
				<xs:element ref="index"/>
				<xs:element ref="lb"/>
				<xs:element ref="milestone"/>
				<xs:element ref="milestoneEnd"/>
				<xs:element ref="milestoneStart"/>
				<xs:element ref="name"/>
				<xs:element ref="w"/>
			</xs:choice>
			<xs:attributeGroup ref="globalWithType"/>
			<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
			<xs:attribute name="TEIform" fixed="hi"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="index">
		<xs:complexType>
			<xs:attribute name="index" type="xs:string" use="required"/>
			<xs:attribute name="level1" type="xs:string" use="required"/>
			<xs:attribute name="level2" type="xs:string" use="optional"/>
			<xs:attribute name="level3" type="xs:string" use="optional"/>
			<xs:attribute name="level4" type="xs:string" use="optional"/>
			<xs:attribute name="see" type="xs:string" use="optional"/>
			<xs:attributeGroup ref="globalWithType"/>
			<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
			<xs:attribute name="TEIform" fixed="index"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="inscription">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="abbr"/>
				<xs:element ref="date"/>
				<xs:element ref="divineName"/>
				<xs:element ref="foreign"/>
				<xs:element ref="hi"/>
				<xs:element ref="index"/>
				<xs:element ref="lb"/>
				<xs:element ref="milestone"/>
				<xs:element ref="milestoneEnd"/>
				<xs:element ref="milestoneStart"/>
				<xs:element ref="name"/>
				<xs:element ref="note"/>
				<xs:element ref="q"/>
				<xs:element ref="reference"/>
				<xs:element ref="seg"/>
				<xs:element ref="speaker"/>
				<xs:element ref="speech"/>
				<xs:element ref="title"/>
				<xs:element ref="w"/>
			</xs:choice>
			<xs:attributeGroup ref="globalWithType"/>
			<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="item">
		<xs:complexType mixed="true">
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="label" minOccurs="0" maxOccurs="1"/>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="a"/>
					<xs:element ref="abbr"/>
					<xs:element ref="date"/>
					<xs:element ref="divineName"/>
					<xs:element ref="foreign"/>
					<xs:element ref="hi"/>
					<xs:element ref="index"/>
					<xs:element ref="lg"/>
					<xs:element ref="list"/>
					<xs:element ref="lb"/>
					<xs:element ref="milestone"/>
					<xs:element ref="milestoneEnd"/>
					<xs:element ref="milestoneStart"/>
					<xs:element ref="name"/>
					<xs:element ref="note"/>
					<xs:element ref="p"/>
					<xs:element ref="q"/>
					<xs:element ref="reference"/>
					<xs:element ref="seg"/>
					<xs:element ref="title"/>
					<xs:element ref="transChange"/>
					<xs:element ref="verse"/>
					<xs:element ref="w"/>
				</xs:choice>
			</xs:sequence>
			<xs:attributeGroup ref="globalWithType"/>
			<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
			<xs:attribute name="role" type="xs:string" use="optional"/>
			<xs:attribute name="TEIform" fixed="item"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="label">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="abbr"/>
				<xs:element ref="date"/>
				<xs:element ref="divineName"/>
				<xs:element ref="foreign"/>
				<xs:element ref="hi"/>
				<xs:element ref="index"/>
				<xs:element ref="lb"/>
				<xs:element ref="milestone"/>
				<xs:element ref="milestoneEnd"/>
				<xs:element ref="milestoneStart"/>
				<xs:element ref="name"/>
				<xs:element ref="note"/>
				<xs:element ref="q"/>
				<xs:element ref="reference"/>
				<xs:element ref="seg"/>
				<xs:element ref="transChange"/>
				<xs:element ref="w"/>
			</xs:choice>
			<xs:attributeGroup ref="globalWithType"/>
			<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
			<xs:attribute name="role" type="xs:string" use="optional"/>
			<xs:attribute name="TEIform" fixed="label"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="l">
		<xs:complexType mixed="true">
			<xs:complexContent>
				<xs:extension base="milestoneable">
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="a"/>
						<xs:element ref="abbr"/>
						<xs:element ref="chapter"/>
						<xs:element ref="date"/>
						<xs:element ref="divineName"/>
						<xs:element ref="foreign"/>
						<xs:element ref="hi"/>
						<xs:element ref="index"/>
						<xs:element ref="lb"/>
						<xs:element ref="mentioned"/>
						<xs:element ref="milestone"/>
						<xs:element ref="milestoneEnd"/>
						<xs:element ref="milestoneStart"/>
						<xs:element ref="name"/>
						<xs:element ref="note"/>
						<xs:element ref="q"/>
						<xs:element ref="reference"/>
						<xs:element ref="seg"/>
						<xs:element ref="speaker"/>
						<xs:element ref="transChange"/>
						<xs:element ref="verse"/>
						<xs:element ref="w"/>
					</xs:choice>
					<xs:attributeGroup ref="globalWithType"/>
					<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
					<xs:attribute name="level" type="xs:positiveInteger" use="optional"/>
					<xs:attribute name="TEIform" fixed="l"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="lb">
		<xs:complexType>
			<xs:attributeGroup ref="globalWithType"/>
			<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
			<xs:attribute name="TEIform" fixed="milestone"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="lg">
		<xs:complexType mixed="true">
			<xs:complexContent>
				<xs:extension base="milestoneable">
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="chapter"/>
						<xs:element ref="index"/>
						<xs:element ref="l"/>
						<xs:element ref="lb"/>
						<xs:element ref="lg"/>
						<xs:element ref="milestone"/>
						<xs:element ref="milestoneEnd"/>
						<xs:element ref="milestoneStart"/>
						<xs:element ref="q"/>
						<xs:element ref="verse"/>
					</xs:choice>
					<xs:attributeGroup ref="globalWithType"/>
					<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
					<xs:attribute name="TEIform" fixed="lg"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="list">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="chapter"/>
				<xs:element ref="head"/>
				<xs:element ref="index"/>
				<xs:element ref="item"/>
				<xs:element ref="lb"/>
				<xs:element ref="list"/>
				<xs:element ref="milestone"/>
				<xs:element ref="milestoneEnd"/>
				<xs:element ref="milestoneStart"/>
				<xs:element ref="q"/>
				<xs:element ref="verse"/>
			</xs:choice>
			<xs:attributeGroup ref="globalWithType"/>
			<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
			<xs:attribute name="TEIform" fixed="list"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="mentioned">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="abbr"/>
				<xs:element ref="date"/>
				<xs:element ref="divineName"/>
				<xs:element ref="foreign"/>
				<xs:element ref="hi"/>
				<xs:element ref="index"/>
				<xs:element ref="lb"/>
				<xs:element ref="milestone"/>
				<xs:element ref="milestoneEnd"/>
				<xs:element ref="milestoneStart"/>
				<xs:element ref="name"/>
				<xs:element ref="note"/>
				<xs:element ref="q"/>
				<xs:element ref="reference"/>
				<xs:element ref="seg"/>
				<xs:element ref="transChange"/>
				<xs:element ref="w"/>
			</xs:choice>
			<xs:attributeGroup ref="globalWithType"/>
			<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
			<xs:attribute name="TEIform" fixed="mentioned"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="milestone">
		<xs:complexType>
			<xs:attributeGroup ref="globalWithoutType"/>
			<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
			<xs:attribute name="type" type="milestonePt"/>
			<xs:attribute name="TEIform" fixed="milestone"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="resp">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="optional"/>
			<xs:attribute name="type" type="xs:string" use="optional"/>
			<xs:attribute name="date" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="milestoneEnd">
		<xs:complexType>
			<xs:attributeGroup ref="globalWithoutType"/>
			<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
			<xs:attribute name="type" type="milestoneSe"/>
			<xs:attribute name="start" type="xs:string" use="required"/>
			<xs:attribute name="TEIform" fixed="milestone"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="milestoneStart">
		<xs:complexType>
			<xs:attributeGroup ref="globalWithoutType"/>
			<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
			<xs:attribute name="type" type="milestoneSe"/>
			<xs:attribute name="end" type="xs:string" use="required"/>
			<xs:attribute name="TEIform" fixed="milestone"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="name">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="abbr"/>
				<xs:element ref="foreign"/>
				<xs:element ref="index"/>
				<xs:element ref="note"/>
				<xs:element ref="reference"/>
				<xs:element ref="seg"/>
				<xs:element ref="w"/>
			</xs:choice>
			<xs:attribute name="type" type="nameType" use="optional"/>
			<xs:attribute name="regular" type="xs:string" use="optional"/>
			<xs:attributeGroup ref="globalWithoutType"/>
			<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
			<xs:attribute name="TEIform" fixed="name"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="note">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="note" minOccurs="0" maxOccurs="unbounded"/>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="a"/>
					<xs:element ref="abbr"/>
					<xs:element ref="catchWord"/>
					<xs:element ref="date"/>
					<xs:element ref="divineName"/>
					<xs:element ref="figure"/>
					<xs:element ref="foreign"/>
					<xs:element ref="hi"/>
					<xs:element ref="index"/>
					<xs:element ref="inscription"/>
					<xs:element ref="lb"/>
					<xs:element ref="lg"/>
					<xs:element ref="list"/>
					<xs:element ref="mentioned"/>
					<xs:element ref="milestone"/>
					<xs:element ref="milestoneEnd"/>
					<xs:element ref="milestoneStart"/>
					<xs:element ref="name"/>
					<xs:element ref="p"/>
					<xs:element ref="q"/>
					<xs:element ref="rdg"/>
					<xs:element ref="reference"/>
					<xs:element ref="seg"/>
					<xs:element ref="table"/>
					<xs:element ref="title"/>
					<xs:element ref="verse"/>
					<xs:element ref="w"/>
				</xs:choice>
			</xs:sequence>
			<xs:attributeGroup ref="globalWithoutType"/>
			<xs:attribute name="canonical" type="xs:boolean" use="optional" default="false"/>
			<xs:attribute name="type" type="noteType" use="optional"/>
			<xs:attribute name="osisRef" type="osisRefType" use="optional"/>
			<xs:attribute name="TEIform" fixed="note"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="p">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="abbr"/>
				<xs:element ref="catchWord"/>
				<xs:element ref="chapter"/>
				<xs:element ref="date"/>
				<xs:element ref="divineName"/>
				<xs:element ref="figure"/>
				<xs:element ref="foreign"/>
				<xs:element ref="hi"/>
				<xs:element ref="index"/>
				<xs:element ref="inscription"/>
				<xs:element ref="lb"/>
				<xs:element ref="lg"/>
				<xs:element ref="list"/>
				<xs:element ref="mentioned"/>
				<xs:element ref="milestone"/>
				<xs:element ref="milestoneEnd"/>
				<xs:element ref="milestoneStart"/>
				<xs:element ref="name"/>
				<xs:element ref="note"/>
				<xs:element ref="q"/>
				<xs:element ref="rdg"/>
				<xs:element ref="reference"/>
				<xs:element ref="salute"/>
				<xs:element ref="seg"/>
				<xs:element ref="signed"/>
				<xs:element ref="speaker"/>
				<xs:element ref="speech"/>
				<xs:element ref="table"/>
				<xs:element ref="title"/>
				<xs:element ref="transChange"/>
				<xs:element ref="verse"/>
				<xs:element ref="w"/>
			</xs:choice>
			<xs:attributeGroup ref="globalWithType"/>
			<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
			<xs:attribute name="TEIform" fixed="p"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="q">
		<xs:complexType mixed="true">
			<xs:complexContent>
				<xs:extension base="milestoneable">
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="a"/>
						<xs:element ref="abbr"/>
						<xs:element ref="date"/>
						<xs:element ref="divineName"/>
						<xs:element ref="foreign"/>
						<xs:element ref="hi"/>
						<xs:element ref="index"/>
						<xs:element ref="inscription"/>
						<xs:element ref="lb"/>
						<xs:element ref="lg"/>
						<xs:element ref="list"/>
						<xs:element ref="mentioned"/>
						<xs:element ref="milestone"/>
						<xs:element ref="milestoneEnd"/>
						<xs:element ref="milestoneStart"/>
						<xs:element ref="name"/>
						<xs:element ref="note"/>
						<xs:element ref="p"/>
						<xs:element ref="q"/>
						<xs:element ref="reference"/>
						<xs:element ref="salute"/>
						<xs:element ref="seg"/>
						<xs:element ref="signed"/>
						<xs:element ref="speaker"/>
						<xs:element ref="transChange"/>
						<xs:element ref="verse"/>
						<xs:element ref="w"/>
					</xs:choice>
					<xs:attributeGroup ref="globalWithoutType"/>
					<xs:attribute name="type" type="quoteType" use="optional"/>
					<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
					<xs:attribute name="level" type="xs:string" use="optional"/>
					<xs:attribute name="who" type="xs:string" use="optional"/>
					<xs:attribute name="TEIform" fixed="q"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="rdg">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="abbr"/>
				<xs:element ref="date"/>
				<xs:element ref="divineName"/>
				<xs:element ref="foreign"/>
				<xs:element ref="hi"/>
				<xs:element ref="index"/>
				<xs:element ref="lb"/>
				<xs:element ref="lg"/>
				<xs:element ref="list"/>
				<xs:element ref="milestone"/>
				<xs:element ref="milestoneEnd"/>
				<xs:element ref="milestoneStart"/>
				<xs:element ref="name"/>
				<xs:element ref="note"/>
				<xs:element ref="p"/>
				<xs:element ref="q"/>
				<xs:element ref="reference"/>
				<xs:element ref="seg"/>
				<xs:element ref="transChange"/>
				<xs:element ref="w"/>
			</xs:choice>
			<xs:attributeGroup ref="globalWithType"/>
			<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
			<xs:attribute name="TEIform" fixed="rdg"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="reference">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="abbr"/>
				<xs:element ref="date"/>
				<xs:element ref="divineName"/>
				<xs:element ref="foreign"/>
				<xs:element ref="hi"/>
				<xs:element ref="index"/>
				<xs:element ref="lb"/>
				<xs:element ref="milestone"/>
				<xs:element ref="milestoneEnd"/>
				<xs:element ref="milestoneStart"/>
				<xs:element ref="name"/>
				<xs:element ref="note"/>
				<xs:element ref="seg"/>
				<xs:element ref="title"/>
				<xs:element ref="w"/>
			</xs:choice>
			<xs:attribute name="osisRef" type="osisRefType" use="optional"/>
			<xs:attributeGroup ref="globalWithType"/>
			<xs:attribute name="canonical" type="xs:boolean" use="optional" default="false"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="row">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cell" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="role" type="tableRole" use="optional"/>
			<xs:attributeGroup ref="globalWithType"/>
			<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
			<xs:attribute name="TEIform" fixed="row"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="salute">
		<xs:complexType mixed="true">
			<xs:complexContent>
				<xs:extension base="milestoneable">
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="a"/>
						<xs:element ref="abbr"/>
						<xs:element ref="date"/>
						<xs:element ref="divineName"/>
						<xs:element ref="foreign"/>
						<xs:element ref="hi"/>
						<xs:element ref="index"/>
						<xs:element ref="lb"/>
						<xs:element ref="lg"/>
						<xs:element ref="list"/>
						<xs:element ref="mentioned"/>
						<xs:element ref="milestone"/>
						<xs:element ref="milestoneEnd"/>
						<xs:element ref="milestoneStart"/>
						<xs:element ref="name"/>
						<xs:element ref="note"/>
						<xs:element ref="p"/>
						<xs:element ref="q"/>
						<xs:element ref="reference"/>
						<xs:element ref="seg"/>
						<xs:element ref="speaker"/>
						<xs:element ref="transChange"/>
						<xs:element ref="verse"/>
						<xs:element ref="w"/>
					</xs:choice>
					<xs:attributeGroup ref="globalWithType"/>
					<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
					<xs:attribute name="TEIform" fixed="salute"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="seg">
		<xs:complexType mixed="true">
			<xs:complexContent>
				<xs:extension base="milestoneable">
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="a"/>
						<xs:element ref="abbr"/>
						<xs:element ref="date"/>
						<xs:element ref="divineName"/>
						<xs:element ref="foreign"/>
						<xs:element ref="hi"/>
						<xs:element ref="index"/>
						<xs:element ref="lb"/>
						<xs:element ref="milestone"/>
						<xs:element ref="milestoneEnd"/>
						<xs:element ref="milestoneStart"/>
						<xs:element ref="name"/>
						<xs:element ref="note"/>
						<xs:element ref="q"/>
						<xs:element ref="reference"/>
						<xs:element ref="seg"/>
						<xs:element ref="transChange"/>
						<xs:element ref="w"/>
					</xs:choice>
					<xs:attributeGroup ref="globalWithType"/>
					<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
					<xs:attribute name="TEIform" fixed="seg"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="signed">
		<xs:complexType mixed="true">
			<xs:complexContent>
				<xs:extension base="milestoneable">
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="a"/>
						<xs:element ref="abbr"/>
						<xs:element ref="divineName"/>
						<xs:element ref="foreign"/>
						<xs:element ref="hi"/>
						<xs:element ref="index"/>
						<xs:element ref="lb"/>
						<xs:element ref="milestone"/>
						<xs:element ref="milestoneEnd"/>
						<xs:element ref="milestoneStart"/>
						<xs:element ref="name"/>
						<xs:element ref="reference"/>
						<xs:element ref="seg"/>
						<xs:element ref="w"/>
					</xs:choice>
					<xs:attributeGroup ref="globalWithType"/>
					<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
					<xs:attribute name="TEIform" fixed="signed"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="speaker">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="abbr"/>
				<xs:element ref="divineName"/>
				<xs:element ref="foreign"/>
				<xs:element ref="index"/>
				<xs:element ref="name"/>
				<xs:element ref="note"/>
				<xs:element ref="reference"/>
				<xs:element ref="w"/>
			</xs:choice>
			<xs:attributeGroup ref="globalWithType"/>
			<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
			<xs:attribute name="who" type="xs:string" use="optional"/>
			<xs:attribute name="TEIform" fixed="sp"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="speech">
		<xs:complexType mixed="true">
			<xs:complexContent>
				<xs:extension base="milestoneable">
					<xs:sequence>
						<xs:element ref="speech" minOccurs="0" maxOccurs="unbounded"/>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element ref="a"/>
							<xs:element ref="abbr"/>
							<xs:element ref="chapter"/>
							<xs:element ref="date"/>
							<xs:element ref="divineName"/>
							<xs:element ref="foreign"/>
							<xs:element ref="hi"/>
							<xs:element ref="index"/>
							<xs:element ref="inscription"/>
							<xs:element ref="lb"/>
							<xs:element ref="lg"/>
							<xs:element ref="list"/>
							<xs:element ref="mentioned"/>
							<xs:element ref="milestone"/>
							<xs:element ref="milestoneEnd"/>
							<xs:element ref="milestoneStart"/>
							<xs:element ref="name"/>
							<xs:element ref="note"/>
							<xs:element ref="p"/>
							<xs:element ref="q"/>
							<xs:element ref="reference"/>
							<xs:element ref="salute"/>
							<xs:element ref="seg"/>
							<xs:element ref="signed"/>
							<xs:element ref="speaker"/>
							<xs:element ref="table"/>
							<xs:element ref="title"/>
							<xs:element ref="transChange"/>
							<xs:element ref="verse"/>
							<xs:element ref="w"/>
						</xs:choice>
					</xs:sequence>
					<xs:attributeGroup ref="globalWithType"/>
					<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
					<xs:attribute name="TEIform" fixed="speech"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="table">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="head" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="row" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="rows" type="xs:positiveInteger" use="optional"/>
			<xs:attribute name="cols" type="xs:positiveInteger" use="optional"/>
			<xs:attributeGroup ref="globalWithType"/>
			<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
			<xs:attribute name="TEIform" fixed="table"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="title">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="abbr"/>
				<xs:element ref="date"/>
				<xs:element ref="divineName"/>
				<xs:element ref="figure"/>
				<xs:element ref="foreign"/>
				<xs:element ref="hi"/>
				<xs:element ref="index"/>
				<xs:element ref="inscription"/>
				<xs:element ref="lb"/>
				<xs:element ref="lg"/>
				<xs:element ref="milestone"/>
				<xs:element ref="name"/>
				<xs:element ref="note"/>
				<xs:element ref="q"/>
				<xs:element ref="reference"/>
				<xs:element ref="seg"/>
				<xs:element ref="title"/>
				<xs:element ref="w"/>
			</xs:choice>
			<xs:attributeGroup ref="globalWithoutType"/>
			<xs:attribute name="type" type="osisTitleType" use="optional"/>
			<xs:attribute name="short" type="xs:string" use="optional"/>
			<xs:attribute name="canonical" type="xs:boolean" use="optional" default="false"/>
			<xs:attribute name="TEIform" fixed="title"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="transChange">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="abbr"/>
				<xs:element ref="date"/>
				<xs:element ref="divineName"/>
				<xs:element ref="foreign"/>
				<xs:element ref="hi"/>
				<xs:element ref="index"/>
				<xs:element ref="lb"/>
				<xs:element ref="milestone"/>
				<xs:element ref="milestoneEnd"/>
				<xs:element ref="milestoneStart"/>
				<xs:element ref="name"/>
				<xs:element ref="note"/>
				<xs:element ref="reference"/>
				<xs:element ref="seg"/>
				<xs:element ref="w"/>
			</xs:choice>
			<xs:attribute name="type" type="changeType" use="optional"/>
			<xs:attributeGroup ref="globalWithoutType"/>
			<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="verse">
		<xs:complexType mixed="true">
			<xs:complexContent>
				<xs:extension base="milestoneable">
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="a"/>
						<xs:element ref="abbr"/>
						<xs:element ref="chapter"/>
						<xs:element ref="date"/>
						<xs:element ref="divineName"/>
						<xs:element ref="foreign"/>
						<xs:element ref="hi"/>
						<xs:element ref="index"/>
						<xs:element ref="inscription"/>
						<xs:element ref="lb"/>
						<xs:element ref="list"/>
						<xs:element ref="mentioned"/>
						<xs:element ref="milestone"/>
						<xs:element ref="milestoneEnd"/>
						<xs:element ref="milestoneStart"/>
						<xs:element ref="name"/>
						<xs:element ref="note"/>
						<xs:element ref="q"/>
						<xs:element ref="reference"/>
						<xs:element ref="seg"/>
						<xs:element ref="speaker"/>
						<xs:element ref="title"/>
						<xs:element ref="transChange"/>
						<xs:element ref="w"/>
					</xs:choice>
					<xs:attributeGroup ref="globalWithType"/>
					<xs:attribute name="canonical" type="xs:boolean" use="optional" default="true"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="w">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="a"/>
				<xs:element ref="index"/>
				<xs:element ref="note"/>
				<xs:element ref="seg"/>
			</xs:choice>
			<xs:attribute name="POS" type="attributeExtension" use="optional"/>
			<xs:attribute name="morph" type="attributeExtension" use="optional"/>
			<xs:attribute name="lemma" type="attributeExtension" use="optional"/>
			<xs:attribute name="gloss" type="xs:string" use="optional"/>
			<xs:attribute name="src" type="xs:string" use="optional"/>
			<xs:attribute name="xlit" type="xs:string" use="optional"/>
			<xs:attributeGroup ref="globalWithType"/>
			<xs:attribute name="canonical" type="xs:boolean" use="optional"/>
			<xs:attribute name="TEIform" fixed="w"/>
		</xs:complexType>
	</xs:element>
	<!-- attributes -->
	<xs:attributeGroup name="globalWithType">
		<xs:attribute name="annotateWork" type="xs:string" use="optional"/>
		<xs:attribute name="annotateType" type="osisAnnotation" use="optional"/>
		<xs:attribute name="ID" type="xs:ID" use="optional"/>
		<xs:attribute name="osisID" type="osisIDType" use="optional"/>
		<xs:attribute name="resp" type="xs:string" use="optional"/>
		<xs:attribute name="type" type="attributeExtension" use="optional"/>
		<xs:attribute name="subType" type="attributeExtension" use="optional"/>
		<xs:attribute name="n" type="xs:string" use="optional"/>
		<xs:attribute ref="xml:lang" use="optional"/>
		<xs:attribute name="script" type="osisScripts" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="globalWithoutType">
		<xs:attribute name="annotateWork" type="xs:string" use="optional"/>
		<xs:attribute name="annotateType" type="osisAnnotation" use="optional"/>
		<xs:attribute name="ID" type="xs:ID" use="optional"/>
		<xs:attribute name="osisID" type="osisIDType" use="optional"/>
		<xs:attribute name="resp" type="xs:string" use="optional"/>
		<xs:attribute name="subType" type="attributeExtension" use="optional"/>
		<xs:attribute name="n" type="xs:string" use="optional"/>
		<xs:attribute ref="xml:lang" use="optional"/>
		<xs:attribute name="script" type="osisScripts" use="optional"/>
	</xs:attributeGroup>
	<!-- complex types -->
	<xs:complexType name="milestoneable" mixed="true">
		<xs:attribute name="sID" type="xs:string" use="optional"/>
		<xs:attribute name="eID" type="xs:string" use="optional"/>
	</xs:complexType>
	<!-- simple types -->
	<xs:simpleType name="annotation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="commentary"/>
			<xs:enumeration value="exposition"/>
			<xs:enumeration value="meditation"/>
			<xs:enumeration value="outline"/>
			<xs:enumeration value="poeticRendering"/>
			<xs:enumeration value="rebuttal"/>
			<xs:enumeration value="sermon"/>
			<xs:enumeration value="studyGuide"/>
			<xs:enumeration value="translation"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="attributeExtension">
		<xs:restriction base="xs:string">
			<xs:pattern value="x-([^\s])+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="calendar">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Chinese"/>
			<xs:enumeration value="Gregorian"/>
			<xs:enumeration value="Islamic"/>
			<xs:enumeration value="ISO"/>
			<xs:enumeration value="Jewish"/>
			<xs:enumeration value="Julian"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="changeType">
		<xs:union memberTypes="osisChanges attributeExtension"/>
	</xs:simpleType>
	<xs:simpleType name="divType">
		<xs:union memberTypes="osisDivs attributeExtension"/>
	</xs:simpleType>
	<xs:simpleType name="identifierType">
		<xs:union memberTypes="osisIdentifier attributeExtension"/>
	</xs:simpleType>
	<xs:simpleType name="languageType">
		<xs:restriction base="xs:string">
			<xs:pattern value="(x|i|[A-Za-z]{2,3})(-[A-Za-z0-9]{2,8}){0,}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="milestonePt">
		<xs:union memberTypes="osisMilestonePt attributeExtension"/>
	</xs:simpleType>
	<xs:simpleType name="milestoneSe">
		<xs:restriction base="xs:string">
			<xs:enumeration value="abbr"/>
			<xs:enumeration value="chapter"/>
			<xs:enumeration value="closer"/>
			<xs:enumeration value="div"/>
			<xs:enumeration value="foreign"/>
			<xs:enumeration value="l"/>
			<xs:enumeration value="lg"/>
			<xs:enumeration value="q"/>
			<xs:enumeration value="salute"/>
			<xs:enumeration value="seg"/>
			<xs:enumeration value="signed"/>
			<xs:enumeration value="speech"/>
			<xs:enumeration value="verse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nameType">
		<xs:union memberTypes="osisNames attributeExtension"/>
	</xs:simpleType>
	<xs:simpleType name="noteType">
		<xs:union memberTypes="osisNotes attributeExtension"/>
	</xs:simpleType>
	<xs:simpleType name="quoteType">
		<xs:union memberTypes="osisQuotes attributeExtension"/>
	</xs:simpleType>
	<xs:simpleType name="typeType">
		<xs:union memberTypes="osisType attributeExtension"/>
	</xs:simpleType>
	<xs:simpleType name="osisAnnotation">
		<xs:union memberTypes="annotation attributeExtension"/>
	</xs:simpleType>
	<xs:simpleType name="osisChanges">
		<xs:restriction base="xs:string">
			<xs:enumeration value="added"/>
			<xs:enumeration value="amplified"/>
			<xs:enumeration value="changed"/>
			<xs:enumeration value="deleted"/>
			<xs:enumeration value="moved"/>
			<xs:enumeration value="tenseChange"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="osisDivs">
		<xs:restriction base="xs:string">
			<xs:enumeration value="acknowledgement"/>
			<xs:enumeration value="afterword"/>
			<xs:enumeration value="appendix"/>
			<xs:enumeration value="article"/>
			<xs:enumeration value="back"/>
			<xs:enumeration value="body"/>
			<xs:enumeration value="book"/>
			<xs:enumeration value="bookGroup"/>
			<xs:enumeration value="colophon"/>
			<xs:enumeration value="commentary"/>
			<xs:enumeration value="concordance"/>
			<xs:enumeration value="coverPage"/>
			<xs:enumeration value="dedication"/>
			<xs:enumeration value="devotional"/>
			<xs:enumeration value="entry"/>
			<xs:enumeration value="front"/>
			<xs:enumeration value="gazetteer"/>
			<xs:enumeration value="glossary"/>
			<xs:enumeration value="imprimatur"/>
			<xs:enumeration value="index"/>
			<xs:enumeration value="introduction"/>
			<xs:enumeration value="majorSection"/>
			<xs:enumeration value="map"/>
			<xs:enumeration value="outline"/>
			<xs:enumeration value="paragraph"/>
			<xs:enumeration value="part"/>
			<xs:enumeration value="preface"/>
			<xs:enumeration value="section"/>
			<xs:enumeration value="subSection"/>
			<xs:enumeration value="summary"/>
			<xs:enumeration value="titlePage"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="osisIdentifier">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Dewey"/>
			<xs:enumeration value="ISBN"/>
			<xs:enumeration value="ISSN"/>
			<xs:enumeration value="LCCN"/>
			<xs:enumeration value="OSIS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="osisIDType">
		<xs:restriction base="xs:string">
			<xs:pattern value="(((\p{L}|\p{N}|_)+)((\.(\p{L}|\p{N}|_)+)*)?:)?((\p{L}|\p{N}|_)+)((\.(\p{L}|\p{N}|_)+)*)?(!((\p{L}|\p{N}|_)+)((\.(\p{L}|\p{N}|_)+)*)?)?((\s(((\p{L}|\p{N}|_)+)((\.(\p{L}|\p{N}|_)+)*)?:)?((\p{L}|\p{N}|_)+)((\.(\p{L}|\p{N}|_)+)*)?)*)?(!(((\p{L}|\p{N}|_)+)((\.(\p{L}|\p{N}|_)+)*)?)?)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="osisMilestonePt">
		<xs:restriction base="xs:string">
			<xs:enumeration value="column"/>
			<xs:enumeration value="footer"/>
			<xs:enumeration value="halfLine"/>
			<xs:enumeration value="header"/>
			<xs:enumeration value="line"/>
			<xs:enumeration value="pb"/>
			<xs:enumeration value="screen"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="osisNames">
		<xs:restriction base="xs:string">
			<xs:enumeration value="geographic"/>
			<xs:enumeration value="holiday"/>
			<xs:enumeration value="nonhuman"/>
			<xs:enumeration value="person"/>
			<xs:enumeration value="ritual"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="osisNotes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="allusion"/>
			<xs:enumeration value="alternative"/>
			<xs:enumeration value="background"/>
			<xs:enumeration value="citation"/>
			<xs:enumeration value="crossReference"/>
			<xs:enumeration value="devotional"/>
			<xs:enumeration value="exegesis"/>
			<xs:enumeration value="explanation"/>
			<xs:enumeration value="study"/>
			<xs:enumeration value="translation"/>
			<xs:enumeration value="variant"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="osisQuotes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="block"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="osisRefType">
		<xs:restriction base="xs:string">
			<xs:pattern value="(((\p{L}|\p{N}|_)+)((\.(\p{L}|\p{N}|_)+)*)?:)?((\p{L}|\p{N}|_)+)((\.(\p{L}|\p{N}|_)+)*)?(!((\p{L}|\p{N}|_)+)((\.(\p{L}|\p{N}|_)+)*)?)?(@(cp:\[(\p{Nd})*\]|s:\[(\p{L}|\p{N}|\s)*\]))?(\-(((\p{L}|\p{N}|_)*)((\.(\p{L}|\p{N}|_)+)*))(!((\p{L}|\p{N}|_)+)((\.(\p{L}|\p{N}|_)+)*)?)?(@(cp:\[(\p{Nd})*\]|s:\[(\p{L}|\p{N}|\s)*\]))?)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="osisRoles">
		<xs:restriction base="xs:string">
			<xs:enumeration value="adp"/>
			<xs:enumeration value="ann"/>
			<xs:enumeration value="art"/>
			<xs:enumeration value="aut"/>
			<xs:enumeration value="aqt"/>
			<xs:enumeration value="aft"/>
			<xs:enumeration value="aui"/>
			<xs:enumeration value="bnd"/>
			<xs:enumeration value="bdd"/>
			<xs:enumeration value="bkd"/>
			<xs:enumeration value="bkp"/>
			<xs:enumeration value="bjd"/>
			<xs:enumeration value="bpd"/>
			<xs:enumeration value="ctg"/>
			<xs:enumeration value="clb"/>
			<xs:enumeration value="cmm"/>
			<xs:enumeration value="cwt"/>
			<xs:enumeration value="com"/>
			<xs:enumeration value="ctb"/>
			<xs:enumeration value="cre"/>
			<xs:enumeration value="edt"/>
			<xs:enumeration value="encoder"/>
			<xs:enumeration value="ilu"/>
			<xs:enumeration value="ill"/>
			<xs:enumeration value="pbl"/>
			<xs:enumeration value="trl"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="roleType">
		<xs:union memberTypes="osisRoles attributeExtension"/>
	</xs:simpleType>
	<xs:simpleType name="osisScripts">
		<xs:restriction base="xs:string">
			<xs:pattern value="([A-Z][a-z]{3}|x-[A-Za-z0-9]+)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="osisTitles">
		<xs:restriction base="xs:string">
			<xs:enumeration value="acrostic"/>
			<xs:enumeration value="continued"/>
			<xs:enumeration value="main"/>
			<xs:enumeration value="parallel"/>
			<xs:enumeration value="psalm"/>
			<xs:enumeration value="sub"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="osisTitleType">
		<xs:union memberTypes="osisTitles attributeExtension"/>
	</xs:simpleType>
	<xs:simpleType name="osisWorkType">
		<xs:restriction base="xs:string">
			<xs:pattern value="((\p{L}|\p{N}|_)+)((\.(\p{L}|\p{N}|_)+)*)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="osisType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OSIS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tableRole">
		<xs:restriction base="xs:string">
			<xs:enumeration value="label"/>
			<xs:enumeration value="data"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
