jsword/etc/osisCore.1.1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"

	elementFormDefault="unqualified">



<xs:annotation>

	<xs:documentation>

		<p>This is a revision of the OSIS 1.1 schema and should be referred to as the OSIS 1.1.1 schema. There have been a number of minor bug fixes and tweaks to make the schema more flexible. The only major change to the structure of the schema was to reorganize the header to avoid ambiguity in the original schema about where to place information concerning the work that was being encoded. The header element now consists of an optional &lt;revisionDesc&gt; element and at least one (or more) &lt;work&gt; elements.</p>

		<p>Welcome to the OSIS 1.1.1 schema for encoding biblical literature! This schema is designed as the basic set of elements necessary to encode bibles and related literature in XML. It does not provide all the functions needed by translators, publishers or scholars, but modules with those enhanced abilities are being developed to work with this schema. The user will be able to learn a core set of elements (the ones in OSIS 1.1.1, and then leverage that knowledge by adding the appropriate elements from the additional modules.</p>

		<p>The core elements that would be used for encoding a Bible or related text number 41 (excluding the header and large container elements such as osisText. This is less than HTML 3.2, which to date is one of the most widely used markup languages. It is suggested that beginning users start with one of the sample documents and suggested passages to begin using the core element set for basic markup. Once you have mastered the basic uses of the core set, you can move onto using some of the optional attributes and features of the core set.</p>

		<p>Fuller user documentation on OSIS 1.1.1 will be made available at our website but comments are also included in the schema for the technically inclined or those too impatient to await the fuller documentation. OSIS 1.1.1 is organized in sections, beginning with the overall structure of an OSIS 1.1 document, followed the the elements for the header, then the main set of elements for the document and then concluding with datatype declarations. For quick access, the following is a table of contents for OSIS 1.1.1:

<list>

<head>OSIS 1.1.1</head>

<list>

<head>OSIS 1.1.1 Structure</head>

<item>osis (root element, must choose osisCorpus or osisText)</item>

<item>osisCorpus (container for multiple texts, optional header)</item>

<item>osisText (container for text, header required)</item>

<item>header (container for header elements)</item>

</list>

<list>

<head>OSIS 1.1.1 Header Elements</head>

<item>actor (used by castItem)</item>

<item>castGroup (container for castItem)</item>

<item>castItem (contains actor, role, roleDesc)</item>

<item>castList (contains one or more castGroup elements)</item>

<item>contributor</item>

<item>coverage</item>

<item>creator</item>

<item>description</item>

<item>format</item>

<item>identifier</item>

<item>language</item>

<item>publisher</item>

<item>refSystem</item>

<item>relation</item>

<item>revisionDesc</item>

<item>rights</item>

<item>role</item>

<item>roleDesc</item>

<item>subject</item>

<item>source</item>

<item>teiHeader</item>

<item>type</item>

<item>work</item>

</list>

<list>

<head>OSIS 1.1.1 Main Elements</head>

<item>a</item>

<item>abbr</item>

<item>caption</item>

<item>catchWord</item>

<item>cell</item>

<item>closer</item>

<item>date</item>

<item>div</item>

<item>divineName</item>

<item>figure</item>

<item>foreign</item>

<item>head</item>

<item>hi</item>

<item>index</item>

<item>inscription</item>

<item>item</item>

<item>label</item>

<item>l</item>

<item>lg</item>

<item>list</item>

<item>mentioned</item>

<item>milestone</item>

<item>milestoneEnd</item>

<item>milestoneStart</item>

<item>name</item>

<item>note</item>

<item>p</item>

<item>q</item>

<item>rdg</item>

<item>reference</item>

<item>row</item>

<item>salute</item>

<item>seg</item>

<item>signed</item>

<item>speaker</item>

<item>speech</item>

<item>table</item>

<item>title</item>

<item>transChange</item>

<item>verse</item>

<item>w</item>

</list>

<list>

<head>OSIS 1.1.1 Atttribute Groups</head>

<item>commonAttributes</item>

<item>globalAttributes</item>

</list>

<list>

	<head>OSIS 1.1 Simple Types</head>



<item>annotation</item>

<item>attributeExtension</item>

<item>calendar</item>

<item>changeType</item>

<item>divType</item>

<item>languageType</item>

<item>nameType</item>

<item>noteType</item>

<item>osisAnnotation</item>

<item>osisChanges</item>

<item>osisDivs</item>

<item>osisIDType</item>

<item>osisNames</item>

<item>osisNotes</item>

<item>osisRefType</item>

<item>osisRoles</item>

<item>osisWorkType</item>

<item>roleType</item>

<item>tableRole</item>

</list>

</list>

</p>

<p>The OSIS family of schemas is definitely a work in progress and is supported by both the American Bible Society and the Society of Biblical literature, with additional contributions from the United Bible Society and SIL, as well as tireless efforts of numerous volunteers. While freely available for all purposes, it is requested that use of the schemas be acknowledged as appropriate and that problems or suggestions for improvements be forwarded to the project.</p>

	</xs:documentation>

</xs:annotation>





<xs:element name="osis">

		<xs:annotation>

			<xs:documentation><p>The &lt;osis&gt; element can contain either &lt;osisText&gt; which is a single work or text, or &lt;osisCorpus&gt;, which is a collection of works or texts. The &lt;header&gt; element is required for the &lt;osis&gt; element and in the case of a single work, need not be repeated in &lt;osisText&gt;. This allows a single work to have a single header, but preserves the ability to have a separate header for a collection of works, such as would be found in a collection of texts, and to have a separate header for each text in the collection.</p>

			</xs:documentation>

		</xs:annotation>

	    <xs:complexType>

			<xs:choice>

				<xs:element ref="osisCorpus"/>

				<xs:element ref="osisText"/>

			</xs:choice>

			<xs:attribute name="TEIform" fixed="TEI.2"/>

	    </xs:complexType>

</xs:element>



<xs:element name="osisCorpus">

		<xs:annotation>

			<xs:documentation>

				<p>The &lt;osisCorpus&gt; is a container for a collection of texts or works that separately are contained by the &lt;osisText&gt; element. Best practice would be to use the &lt;header&gt; element under &lt;osis&gt; to record information for the collection as a whole and then under each &lt;osisText&gt; to record the details for that individual text.</p>

			</xs:documentation>

		</xs:annotation>

	    <xs:complexType>

		<xs:sequence minOccurs="1" maxOccurs="unbounded">

			<xs:element ref="header" minOccurs="0" maxOccurs="1"/>

			<xs:element ref="osisText"/>

		</xs:sequence>

		<xs:attribute name="TEIform" fixed="teiCorpus.2"/>

	    </xs:complexType>

</xs:element>





<xs:element name="osisText">

		<xs:annotation>

			<xs:documentation>

				<p>The &lt;osisText&gt; element is the main container element for texts encoded using the OSIS schema. It should be noted that users will not find the usual front-body-back division that occurs in TEI or other encoding initiatives. That distinction was dropped because the content models for all three, they all only contained &lt;div&gt; elements, were the same. For this first release, it was decided to go with the simpler model and users can use the &quot;type&quot; attribute on the &lt;div&gt; element if they wish to record that distinction from a printed work.</p>

				<p>The &lt;osisText&gt; element has an optional &lt;header&gt; element, which should be used in cases where &lt;osisText&gt; occurs as a sub-element of &lt;osisCorpus&gt; but not in addition to the &lt;header&gt; element of the &lt;osis&gt; element. Thus, for encoding a single standard Bible edition, the markup would in part read: &lt;osis&gt;&lt;header&gt;header elements here&lt;osisText&gt;&lt;div type=&quot;front&gt;&lt;div type=&quot;titlePage&quot;&gt;title page content&lt;/div&gt;content of first div&lt;/div&gt;more divs and other content&lt;/osisText&gt;&lt;/osis&gt;. Fuller example texts are in preparation and will be released at the www.bibletechnologies.net website..</p>

				<p>The attribute values for osisIDWork and osisRefWork refer to the osisWork attribute value on the &lt;work&gt; element in the header. A separate &lt;work&gt; element should be created for the work that is being encoded and one for any reference system that will be cited in that work. The &lt;work&gt; element has a child element called &lt;identifier&gt; and that element can occur multiple times for a single work. A work may have an ISBN or publisher catgalog number that the user wishes to record. One occurrence (and only one) of the &lt;identifier&gt; element should have a type of OSIS.</p>

			</xs:documentation>

		</xs:annotation>

	<xs:complexType>

		<xs:sequence>

			<xs:element ref="header" minOccurs="1" maxOccurs="1"/>

                        <xs:element ref="div" minOccurs="0" maxOccurs="unbounded"/>

		</xs:sequence>

			<xs:attribute name="osisIDWork" type="osisWorkType" use="required"/>

			<xs:attribute name="osisRefWork" type="osisWorkType" use="optional" default="Bible"/>

			<xs:attributeGroup ref="globalWithType"/>

			<xs:attribute name="TEIform" fixed="text"/>

	</xs:complexType>

</xs:element>

  

<xs:element name="header">

		<xs:annotation>

			<xs:documentation>

				<p>The &lt;header&gt; element contains the &lt;work&gt; element, which holds the Dublin Core metadata used by the Open EBook initiative. The containers in the &lt;work&gt; element hold basically unstructured data and that while sufficient for this initial release, far more internal structure will be added to these elements for the publisher, translator and scholar modules to be released in the future by this initiative.</p>

				<p>The &lt;header&gt; element diverges from both Dubline Core and Open eBook by providing a &lt;revisionDesc&gt; element to describe the revision history of a document. For further information on Dublin Core, see: http://www.ietf.org/rfc/rfc2413.txt or http://purl.org/metadata/dublin_core. Information on the Open eBook can be found at the Open eBook Forum, http://www.openebook.org/. While the Dublin Core source materials are the best reference, short notes have been included in the documentation for each of the metadata elements as guides to their usage.</p>

			</xs:documentation>

		</xs:annotation>

	<xs:complexType>

		<xs:sequence>

			<xs:element ref="revisionDesc" minOccurs="0" maxOccurs="unbounded"/>

			<xs:element ref="work" minOccurs="1" maxOccurs="unbounded"/>

		</xs:sequence>

		<xs:attribute name="TEIform" fixed="teiHeader"/>

	</xs:complexType>

</xs:element>



<!-- elements for header, with exceptions of title and head which are found with regular OSIS elements -->



<xs:element name="actor">

        <xs:annotation>

            <xs:documentation>

                 <p></p>

            </xs:documentation>

        </xs:annotation>

        <xs:complexType>

        <xs:choice minOccurs="0" maxOccurs="unbounded">

		 <xs:element ref="a"/>

		 <xs:element ref="abbr"/>

		 <xs:element ref="foreign"/>

                 <xs:element ref="index"/>

		 <xs:element ref="note"/>

		 <xs:element ref="reference"/>

		 <xs:element ref="seg"/>

		 <xs:element ref="w"/>

         </xs:choice>

	<xs:attribute name="who" type="xs:string" use="optional"/>

        <xs:attributeGroup ref="globalWithType"/>

        <xs:attribute name="TEIform" fixed="actor"/>

       </xs:complexType>

</xs:element>



<xs:element name="castGroup">

        <xs:annotation>

            <xs:documentation>

                <p></p>

            </xs:documentation>

        </xs:annotation>

        <xs:complexType>

        <xs:choice minOccurs="0" maxOccurs="unbounded">

               <xs:element ref="head"/>

               <xs:element ref="castItem"/>

         </xs:choice>

        <xs:attributeGroup ref="globalWithType"/>

        <xs:attribute name="TEIform" fixed="castGroup"/>

       </xs:complexType>

</xs:element>





<xs:element name="castItem">

        <xs:annotation>

            <xs:documentation>

                <p></p>

            </xs:documentation>

        </xs:annotation>

        <xs:complexType>

        <xs:choice minOccurs="0" maxOccurs="unbounded">

               <xs:element ref="actor"/>

               <xs:element ref="role"/>

               <xs:element ref="roleDesc"/>

         </xs:choice>

        <xs:attributeGroup ref="globalWithType"/>

        <xs:attribute name="TEIform" fixed="castItem"/>

       </xs:complexType>

</xs:element>



<xs:element name="castList">

        <xs:annotation>

            <xs:documentation>

                <p>The &lt;castList&gt; element and its children are used to document roles in the biblical text.</p>

            </xs:documentation>

        </xs:annotation>

        <xs:complexType>

        <xs:choice minOccurs="0" maxOccurs="unbounded">

               <xs:element ref="castGroup"/>

         </xs:choice>

        <xs:attributeGroup ref="globalWithType"/>

        <xs:attribute name="TEIform" fixed="castList"/>

       </xs:complexType>

</xs:element>





<xs:element name="contributor">

	<xs:annotation>

            <xs:documentation>

                <p>The &lt;contributor&gt; element has the same semantics as the &lt;creator&gt; element. Can be used for contributors to a work that are not covered under &lt;creator&gt;. Note that it has attributes for role (roleType is a defined list of various role types) and a file-as attribute for additional indexing information.</p>

            </xs:documentation>

        </xs:annotation>

	<xs:complexType>

		<xs:simpleContent> 	

			<xs:extension base="xs:string">

				<xs:attribute name="file-as" type="xs:string" use="optional"/>

				<xs:attribute name="role" type="roleType" use="optional"/>

				<xs:attributeGroup ref="globalWithType"/>

			</xs:extension>

		</xs:simpleContent>

	</xs:complexType>

</xs:element>





<xs:element name="coverage">

	 <xs:annotation>

            <xs:documentation>

                <p>A description of a place or time described in the work. </p>

            </xs:documentation>

        </xs:annotation>

	<xs:complexType>

		<xs:simpleContent> 	

			<xs:extension base="xs:string">

				<xs:attributeGroup ref="globalWithType"/>

			</xs:extension>

		</xs:simpleContent>

	</xs:complexType>

</xs:element>





<xs:element name="creator">

	<xs:annotation>

            <xs:documentation>

                <p>The &lt;creator&gt; element has the same semantics as the &lt;contributor&gt; element. Used for the primary creator or author of a work. If there are multiple authors, there should be a separate &lt;creator&gt; element for each one. Note that it has attributes for role (roleType is a defined list of various role types) and a file-as attribute for additional indexing information.</p>

            </xs:documentation>

        </xs:annotation>

	<xs:complexType>

		<xs:simpleContent> 	

			<xs:extension base="xs:string">

				<xs:attribute name="role" type="roleType" use="optional"/>

				<xs:attributeGroup ref="globalWithType"/>

			</xs:extension>

		</xs:simpleContent>

	</xs:complexType>

</xs:element>





<xs:element name="description">

	 <xs:annotation>

            <xs:documentation>

                <p>A prose description of the content of the work.</p>

            </xs:documentation>

        </xs:annotation>

	<xs:complexType>

		<xs:simpleContent> 	

			<xs:extension base="xs:string">

				<xs:attributeGroup ref="globalWithType"/>

			</xs:extension>

		</xs:simpleContent>

	</xs:complexType>

</xs:element>





<xs:element name="format">

	 <xs:annotation>

            <xs:documentation>

                <p>A set of descriptors is not yet available from Dublin Core for formats.</p>

            </xs:documentation>

        </xs:annotation>

	<xs:complexType>

		<xs:simpleContent> 	

			<xs:extension base="xs:string">

				<xs:attributeGroup ref="globalWithType"/>

			</xs:extension>

		</xs:simpleContent>

	</xs:complexType>

</xs:element>





<xs:element name="identifier">

	 <xs:annotation>

            <xs:documentation>

                <p>Any unique identifier for a work, such as an ISBN or ISSN number, although those are merely illustrative and not given as limitations. A separate &lt;identifier&gt; element should be used for each such identifier and its type recorded in the type attribute for the element.</p>

		<p>It should be noted that the type attribute should be OSIS for cases where the identifier represents an OSIS identifier. This is promote resolution of OSIS ID and Refs.</p>

            </xs:documentation>

        </xs:annotation>

	<xs:complexType>

		<xs:simpleContent> 	

			<xs:extension base="xs:string">

				<xs:attributeGroup ref="globalWithType"/>

			</xs:extension>

		</xs:simpleContent>

	</xs:complexType>

</xs:element>





<xs:element name="language">

	 <xs:annotation>

            <xs:documentation>

                <p>Should comply with the requirements of RFC 1766 (http://www.ietf.org/rfc/rfc1766.txt) and any successor standards for specifying the language of a work.</p>

            </xs:documentation>

        </xs:annotation>

	<xs:complexType>

		<xs:simpleContent> 	

			<xs:extension base="xs:string">

				<xs:attributeGroup ref="globalWithType"/>

			</xs:extension>

		</xs:simpleContent>

	</xs:complexType>

</xs:element>





<xs:element name="publisher">

	 <xs:annotation>

            <xs:documentation>

                <p>The source of the publication that is being documented. In the case of some biblical materials, such as those that have been reproduced in facsimile editions, the publisher would be the issuer of the facsimile edition. Separate editions of a particular work, for example a reprint of the Bomberg Rabbinic Bible, would have separate work entries.</p>

            </xs:documentation>

        </xs:annotation>

	<xs:complexType>

		<xs:simpleContent> 	

			<xs:extension base="xs:string">

				<xs:attributeGroup ref="globalWithType"/>

			</xs:extension>

		</xs:simpleContent>

	</xs:complexType>

</xs:element>



<xs:element name="refSystem">

	    <xs:annotation>

		<xs:documentation>

		    <p>The &lt;refSystem&gt; element specifies the reference system being used to refer to a particular work. Most commonly works have only one reference system but historical texts, St. Augustine's Confessions, for example, have multiple reference systems to the same text.</p>

		    </xs:documentation>

	     </xs:annotation>

	     <xs:complexType>

		<xs:simpleContent>

			<xs:extension base="xs:string">

				 <xs:attributeGroup ref="globalWithType"/>

			</xs:extension>

		</xs:simpleContent>

	     </xs:complexType>

</xs:element>





<xs:element name="relation">

	 <xs:annotation>

            <xs:documentation>

                <p>Allows the relationship of the present work to another work to be specified. Dublin Core does not give any specific guidance on this point but if the relationship is important enough to record, it is suggested that a separate work element be created and this field completed with the ID of that element so that the two entries are linked for future use.</p>

            </xs:documentation>

        </xs:annotation>

	<xs:complexType>

		<xs:simpleContent> 	

			<xs:extension base="xs:string">

				<xs:attributeGroup ref="globalWithType"/>

			</xs:extension>

		</xs:simpleContent>

	</xs:complexType>

</xs:element>





<xs:element name="revisionDesc">

	<xs:annotation>

            <xs:documentation>

                <p>This element was added to the usual elements for a Dublin Core header as encoding biblical resources are often ongoing and collaborative enterprises. This element allows a convenient place to record versioning information for a document. Note that the date element is always required and that best practices dictate that the resp attribute should be used whenever an entry is made.</p>

            </xs:documentation>

        </xs:annotation>

	<xs:complexType>

		<xs:sequence>

			<xs:element ref="date" minOccurs="1"/>

			<xs:element ref="p" maxOccurs="unbounded"/>

		</xs:sequence>

		<xs:attributeGroup ref="globalWithType"/>

		<xs:attribute name="TEIform" fixed="revisionDesc"/>

	</xs:complexType>

</xs:element>





<xs:element name="rights">

	 <xs:annotation>

            <xs:documentation>

                <p>Prose description of any rights, such as copyright statements, or notation that it is publically available for non-commercial use, etc.</p>

            </xs:documentation>

        </xs:annotation>

	<xs:complexType>

		<xs:simpleContent> 	

			<xs:extension base="xs:string">

				<xs:attributeGroup ref="globalWithType"/>

			</xs:extension>

		</xs:simpleContent>

	</xs:complexType>

</xs:element>





<xs:element name="role">

        <xs:annotation>

            <xs:documentation>

                <p>The name of a role in a text.</p>

            </xs:documentation>

        </xs:annotation>

        <xs:complexType>

        <xs:choice minOccurs="0" maxOccurs="unbounded">

              	<xs:element ref="a"/>

		<xs:element ref="abbr"/>

		<xs:element ref="foreign"/>

                <xs:element ref="index"/>

		<xs:element ref="note"/>

		<xs:element ref="reference"/>

		<xs:element ref="seg"/>

		<xs:element ref="w"/>

	</xs:choice>          

        <xs:attributeGroup ref="globalWithType"/>

        <xs:attribute name="TEIform" fixed="role"/>

       </xs:complexType>

</xs:element>





<xs:element name="roleDesc">

        <xs:annotation>

            <xs:documentation>

                <p>Describes the role of an actor in the text.</p>

            </xs:documentation>

        </xs:annotation>

        <xs:complexType>

        <xs:choice minOccurs="0" maxOccurs="unbounded">

		<xs:element ref="a"/>

		<xs:element ref="abbr"/>

		<xs:element ref="foreign"/>

                <xs:element ref="index"/>

		<xs:element ref="note"/>

		<xs:element ref="reference"/>

		<xs:element ref="seg"/>

		<xs:element ref="w"/>

         </xs:choice>

        <xs:attributeGroup ref="globalWithType"/>

        <xs:attribute name="TEIform" fixed="roleDesc"/>

       </xs:complexType>

</xs:element>





<xs:element name="subject">

	 <xs:annotation>

            <xs:documentation>

                <p>No standard has been set for subject descriptions as they vary from system to system. Best practices dictate that some standard system should be chosen and indicated on the type attribute for this element. It may be found useful to have multiple &lt;subject&gt; elements that give descriptions from more than one classification system.</p>

            </xs:documentation>

        </xs:annotation>

	<xs:complexType>

		<xs:simpleContent> 	

			<xs:extension base="xs:string">

				<xs:attributeGroup ref="globalWithType"/>

			</xs:extension>

		</xs:simpleContent>

	</xs:complexType>

</xs:element>





<xs:element name="source">

	 <xs:annotation>

            <xs:documentation>

                <p>Used in the sense of the source from which an electronic text is derived. Not certain how useful that will be as born electronic texts become common but certainly relevant for older biblical materials.</p>

            </xs:documentation>

        </xs:annotation>

	<xs:complexType>

		<xs:simpleContent> 	

			<xs:extension base="xs:string">

				<xs:attributeGroup ref="globalWithType"/>

			</xs:extension>

		</xs:simpleContent>

	</xs:complexType>

</xs:element>





<xs:element name="teiHeader">

   	<xs:complexType mixed="true">

       		<xs:sequence>

           		<xs:any minOccurs = "1" maxOccurs = "unbounded"

                           processContents = "skip" />

           	</xs:sequence>

		<xs:attribute name="TEIform" fixed="teiHeader"/>

   	</xs:complexType>

</xs:element> 





<xs:element name="type">

	<xs:annotation>

<xs:documentation>

                <p>The current suggested types of resources (found at: http://dublincore.org/documents/dcmi-type-vocabulary/) will probably be found too general to be very useful to biblical scholars. The Bible Technologies Group is working on developing a suggested typology for biblical texts that may make this a more meaningful element.</p>

            </xs:documentation>

        </xs:annotation>

	<xs:complexType>

		<xs:simpleContent> 	

			<xs:extension base="xs:string">

				<xs:attributeGroup ref="globalWithType"/>

			</xs:extension>

		</xs:simpleContent>

	</xs:complexType>

</xs:element>



<xs:element name="work">

         <xs:annotation>

           <xs:documentation>

               <p>The &lt;work&gt; element is used to allow easy reference to any work from within the OSIS document instance. It is most commonly used in connection with osisID to specify a particular work that is being referenced by the osisID in question.</p>

	       <p>A shorthand for use with the osisID or osisRef should be entered as the osisWork attribute value. The &lt;identifier&gt; element can contain a longer string to identify the work in question. If the work uses a particular reference system, that can be noted in the &lt;reference&gt; element. The user is responsible for declaring a reference system for a work that may have a different reference system, in hopes that the software will map from the declared (familiar) reference system to the one actually used by the referenced work. For example, a user could declare that he wishes to use the KJV reference system when referring to the French NIV work. That declaration is made by recording the French NIV work information in the header and including the refsystem element with the content, KJV.</p>

		<p>This set of elements is based upon the Dublin Core metadata set as used in the Open eBook standard. Using these metadata elements, a precise link between the osisWork attribute and a particular work or class of works in general can be established. For a particular work, the user should choose a value for the osisWork attribute and then supply the information necessary to distinguish it from other works. Most generally, that would include use of the &lt;title&gt;, &lt;creator&gt;, &lt;date&gt;, &lt;publisher&gt;, &lt;identifier&gt; (which may have a type attribute of ISBN, ISSN or other unique identifier) but could include the other fields as well.</p>

	<p>For those who wish to follow a stricter header, we have included an optional element to contain the &lt;teiHeader&gt; element. Note that it is not processed by any schema validator and thus validation of that portion of the header is entirely the responsibility of the user.</p>

	</xs:documentation>

	</xs:annotation>

<xs:complexType>

        <xs:sequence>

            <xs:element ref="title" minOccurs="0"/>

            <xs:element ref="contributor" minOccurs="0" maxOccurs="unbounded"/>

            <xs:element ref="creator" minOccurs="0" maxOccurs="unbounded"/>

            <xs:element ref="subject" minOccurs="0" maxOccurs="unbounded"/>

            <xs:element ref="date" minOccurs="0" maxOccurs="unbounded"/>

            <xs:element ref="description" minOccurs="0" maxOccurs="unbounded"/>

            <xs:element ref="publisher" minOccurs="0" maxOccurs="unbounded"/>

            <xs:element ref="type" minOccurs="0" maxOccurs="unbounded"/>

            <xs:element ref="format" minOccurs="0" maxOccurs="unbounded"/>

            <xs:element ref="identifier" minOccurs="0" maxOccurs="unbounded"/>

            <xs:element ref="source" minOccurs="0" maxOccurs="unbounded"/>

            <xs:element ref="language" minOccurs="0" maxOccurs="unbounded"/>

            <xs:element ref="relation" minOccurs="0" maxOccurs="unbounded"/>

            <xs:element ref="coverage" minOccurs="0" maxOccurs="unbounded"/>

	    <xs:element ref="castList" minOccurs="0" maxOccurs="unbounded"/>

	    <xs:element ref="rights" minOccurs="0" maxOccurs="unbounded"/>

	    <xs:element ref="teiHeader" minOccurs="0" maxOccurs="1"/>

	    <xs:element ref="refSystem" minOccurs="0" maxOccurs="unbounded"/>

        </xs:sequence>

        <xs:attribute name="osisWork" type="osisWorkType" use="required"/>

    </xs:complexType>

</xs:element>



<!-- end of header elements -->



<!-- beginning of elements that occur within <div>, the main OSIS container element under <osisText> -->



<xs:element name="a">

		<xs:annotation>

			<xs:documentation>

				<p>The &lt;a&gt; element is a clone of &lt;reference&gt; and was added to allow simple links to be built with the current OSIS release. This will continue in future releases but expect to see full XLink/XPointer syntax in later releases. Both the standard HTML links and XLinks will be supported for OSIS texts for the foreseeable future.</p>

			</xs:documentation>

		</xs:annotation>

        <xs:complexType mixed="true">

            <xs:choice minOccurs="0" maxOccurs="unbounded">

               <xs:element ref="index"/>

        </xs:choice>

        <xs:attributeGroup ref="globalWithType"/>

        <xs:attribute name="href" type="xs:string" use="required"/>

      </xs:complexType>

</xs:element>



<xs:element name="abbr">

		<xs:annotation>

			<xs:documentation>

				<p>The &lt;abbr&gt; element contains abbreviations and the expansion of abbreviations is placed in the expansion attribute. To illustrate: &lt;abbr expansion=&quot;Journal of Biblical Literature&quot;&gt;JBL&lt;/abbr&gt; This will be particularly helpful for users who are not professional biblical scholars or to make sure references to lesser known publications are easy to find (both by researchers and librarians).</p>

			</xs:documentation>

		</xs:annotation>

	    <xs:complexType mixed="true">

		<xs:choice minOccurs="0" maxOccurs="unbounded">

			   <xs:element ref="a"/>

			   <xs:element ref="divineName"/>

			   <xs:element ref="foreign"/>

			   <xs:element ref="index"/>

			   <xs:element ref="name"/>

			   <xs:element ref="note"/>

			   <xs:element ref="reference"/>

			   <xs:element ref="w"/>

		</xs:choice>

		<xs:attribute name="expansion" type="xs:string"/>

		<xs:attributeGroup ref="globalWithType"/>

		<xs:attribute name="TEIform" fixed="abbr"/>

	   </xs:complexType>

</xs:element>





<xs:element name="caption">

		<xs:annotation>

			<xs:documentation>

				<p>The &lt;caption&gt; element is used within &lt;figure&gt; to contain short descriptive information that may appear with an illustration, photo or map.</p>

				<p>It should be noted that this element maps to the TEI &lt;figDesc&gt; element and not &lt;caption&gt;. For some reason, &lt;caption&lt; was used by TEI for text displayed with a film or screenplay. Not its common definition and not followed by OSIS.</p>

			</xs:documentation>

		</xs:annotation>

	    <xs:complexType mixed="true">

		<xs:choice minOccurs="0" maxOccurs="unbounded">

			   <xs:element ref="a"/>

			   <xs:element ref="abbr"/>

	                   <xs:element ref="date"/>

			   <xs:element ref="divineName"/>

			   <xs:element ref="hi"/>

			   <xs:element ref="foreign"/>

                           <xs:element ref="index"/>

			   <xs:element ref="milestone"/>

			   <xs:element ref="name"/>

			   <xs:element ref="note"/>

			   <xs:element ref="q"/>

			   <xs:element ref="reference"/>

			   <xs:element ref="seg"/>

	                   <xs:element ref="w"/>

		</xs:choice>

		<xs:attributeGroup ref="globalWithType"/>

		<xs:attribute name="TEIform" fixed="figDesc"/>

	   </xs:complexType>

</xs:element>





<xs:element name="catchWord">

		<xs:annotation>

			<xs:documentation>

				<p>The &lt;catchWord&gt; element occurs in a note to contain text that occurs as part of the main text and is used to alert the reader to the material in the main text under discussion. This is likely to be used when a note concerns several parts of a single passage and the note wishes to draw attention to a particular part of the text for the following discussion. While to some degree a holdover from print practice, it does represent a simple way to create an implied reference from a note to the main text and is retained for that purpose. Careful users will make use of the linking attributes to make the &lt;catchWord&gt; element attach to a particular portion of the text. That practice will avoid having to re-edit an electronic text when more robust software is available for linking the &lt;catchWord&gt; to the main text.</p>

				<p>There is no TEI equivalent for this element.</p>

			</xs:documentation>

		</xs:annotation>

	    <xs:complexType mixed="true">

		<xs:choice minOccurs="0" maxOccurs="unbounded">

			   <xs:element ref="a"/>

			   <xs:element ref="abbr"/>

			   <xs:element ref="foreign"/>

                           <xs:element ref="index"/>

			   <xs:element ref="note"/>

			   <xs:element ref="reference"/>

			   <xs:element ref="seg"/>

			   <xs:element ref="w"/>

		</xs:choice>

		<xs:attributeGroup ref="globalWithType"/>

	   </xs:complexType>

</xs:element>



<xs:element name="cell">

    <xs:complexType mixed="true">

	<xs:choice minOccurs="0" maxOccurs="unbounded">

	     <xs:element ref="a"/>

	     <xs:element ref="abbr"/>

             <xs:element ref="date"/>

             <xs:element ref="divineName"/>

	     <xs:element ref="hi"/>

	     <xs:element ref="figure"/>

	     <xs:element ref="foreign"/>

	     <xs:element ref="index"/>

	     <xs:element ref="inscription"/>

	     <xs:element ref="lg"/>

	     <xs:element ref="list"/>

	     <xs:element ref="milestone"/>

	     <xs:element ref="milestoneEnd"/>

	     <xs:element ref="milestoneStart"/>

	     <xs:element ref="name"/>

	     <xs:element ref="note"/>

	     <xs:element ref="p"/>

	     <xs:element ref="q"/>

	     <xs:element ref="reference"/>

	     <xs:element ref="salute"/>

	     <xs:element ref="seg"/>

	     <xs:element ref="signed"/>

	     <xs:element ref="speaker"/>	

	     <xs:element ref="speech"/>

	     <xs:element ref="table"/>

	     <xs:element ref="title"/>

	     <xs:element ref="transChange"/>

	     <xs:element ref="verse"/>

	     <xs:element ref="w"/>

	</xs:choice>

	<xs:attribute name="role" type="tableRole" use="optional"/>

	<xs:attribute name="rows" type="xs:positiveInteger" use="optional"/>

	<xs:attribute name="cols" type="xs:positiveInteger" use="optional"/>

	<xs:attributeGroup ref="globalWithType"/>

	<xs:attribute name="TEIform" fixed="cell"/>

    </xs:complexType>

</xs:element>



<xs:element name="closer">

		<xs:annotation>

			<xs:documentation>

				<p>The &lt;closer&gt; element is a child of &lt;div&gt; and &lt;q&gt; and is meant to be used with the close of letters (Pauline for example).</p>

			</xs:documentation>

		</xs:annotation>

	    <xs:complexType mixed="true">

		<xs:choice minOccurs="0" maxOccurs="unbounded">

			   <xs:element ref="a"/>

			   <xs:element ref="abbr"/>

			   <xs:element ref="date"/>

			   <xs:element ref="divineName"/>

                           <xs:element ref="hi"/>

			   <xs:element ref="foreign"/>

                           <xs:element ref="index"/>

			   <xs:element ref="lg"/>

                           <xs:element ref="list"/>

			   <xs:element ref="mentioned"/>

			   <xs:element ref="milestone"/>

			   <xs:element ref="milestoneEnd"/>

			   <xs:element ref="milestoneStart"/>

			   <xs:element ref="name"/>

			   <xs:element ref="note"/>

			   <xs:element ref="p"/>

			   <xs:element ref="q"/>

			   <xs:element ref="reference"/>

			   <xs:element ref="seg"/>

			   <xs:element ref="signed"/>

			   <xs:element ref="speaker"/>

		           <xs:element ref="transChange"/>

			   <xs:element ref="verse"/>

			   <xs:element ref="w"/>

		</xs:choice>

		<xs:attributeGroup ref="globalWithType"/>

		<xs:attribute name="TEIform" fixed="closer"/>

	   </xs:complexType>

</xs:element>





<xs:element name="date">

		<xs:annotation>

			<xs:documentation>

				<p>The &lt;date&gt; element is used to record the type of date found in a text. It bears an optional calendarType attribute which will allow the user to note what sort of date is being recorded. Permissible values for the calendarType attribute are: Chinese, Gregorian, Islamic, ISO, Jewish, Julian. As with other attribute values in this schema, the user can insert their own value for this attribute by appending &quot;x-&quot; before the value they wish to use. Thus, calendarType=&quot;x-DisneyLand&quot; would be one possible value, although probably not a useful one.</p>

				<p>The &lt;note&gt; element may occur within &lt;date&gt; as commentators may wish to record additional information about the date.</p>

			</xs:documentation>

		</xs:annotation>

	    <xs:complexType mixed="true">

		<xs:choice minOccurs="0" maxOccurs="unbounded">

			   <xs:element ref="a"/>

                           <xs:element ref="index"/>

			   <xs:element ref="note"/>

			   <xs:element ref="w"/>

		</xs:choice>

		<xs:attribute name="type" type="calendar" use="optional" default="ISO"/>

		<xs:attributeGroup ref="globalWithoutType"/>

		<xs:attribute name="TEIform" fixed="date"/>

	   </xs:complexType>

</xs:element>





<xs:element name="div">

		<xs:annotation>

			<xs:documentation>

				<p>The &lt;div&gt; element is the principal container below the &lt;osisText&gt; element. As was noted above, there is no separate &lt;front&gt;, &lt;body&gt;, or, &lt;back&gt; elements in OSIS markup and the &lt;div&gt; type attribute bears that information about the text. The usage of the &lt;div&gt; element should be recorded in the &lt;revisionDesc&gt; element so users of the text will know what types of &lt;div&gt; elements they will encounter in processing the text.</p>

			</xs:documentation>

		</xs:annotation>

	    <xs:complexType mixed="true">

		<xs:choice minOccurs="0" maxOccurs="unbounded">

			   <xs:element ref="a"/>

			   <xs:element ref="abbr"/>

			   <xs:element ref="date"/>

			   <xs:element ref="div"/>

 			   <xs:element ref="divineName"/>

                           <xs:element ref="hi"/>

			   <xs:element ref="figure"/>

			   <xs:element ref="foreign"/>

                           <xs:element ref="index"/>

			   <xs:element ref="inscription"/>

			   <xs:element ref="lg"/>

			   <xs:element ref="list"/>

			   <xs:element ref="mentioned"/>

			   <xs:element ref="milestone"/>

			   <xs:element ref="milestoneEnd"/>

			   <xs:element ref="milestoneStart"/>

			   <xs:element ref="name"/>

			   <xs:element ref="note"/>

			   <xs:element ref="p"/>

			   <xs:element ref="q"/>

			   <xs:element ref="reference"/>

			   <xs:element ref="salute"/>

			   <xs:element ref="seg"/>

			   <xs:element ref="signed"/>

			   <xs:element ref="speaker"/>	

			   <xs:element ref="speech"/>

			   <xs:element ref="table"/>

			   <xs:element ref="title"/>

			   <xs:element ref="transChange"/>

			   <xs:element ref="verse"/>

			   <xs:element ref="w"/>

		</xs:choice>

			<xs:attribute name="type" type="divType" use="optional"/>

			<xs:attribute name="divTitle" type="xs:string" use="optional"/>

			<xs:attribute name="osisRef" type="osisRefType" use="optional"/>

			<xs:attributeGroup ref="globalWithoutType"/>

			<xs:attribute name="TEIform" fixed="div"/>

	    </xs:complexType>

</xs:element>





<xs:element name="divineName">

		<xs:annotation>

			<xs:documentation>

				<p>The &lt;divineName&gt; element is to be used to mark the name of the diety in biblical and other texts. Traditions vary on the writing of the divine name and this is our response to satisfy the need for marking the divine name in the text and yet not make any presumptions about various traditions concerning the writing of the name. This would be a most appropriate element to record a typology of the divine name as found or translated in the text.</p>

				<p>There is no equivalent TEI element, other than perhaps &lt;name&gt;, since the TEI Guidelines did not specifically address issues related to the encoding of biblical materials.</p>

			</xs:documentation>

		</xs:annotation>

	    <xs:complexType mixed="true">

		<xs:choice minOccurs="0" maxOccurs="unbounded">

			   <xs:element ref="a"/>

			   <xs:element ref="abbr"/>

			   <xs:element ref="foreign"/>

                           <xs:element ref="index"/>

			   <xs:element ref="note"/>

			   <xs:element ref="reference"/>

			   <xs:element ref="seg"/>

			   <xs:element ref="w"/>

		</xs:choice>

		<xs:attributeGroup ref="globalWithType"/>

	   </xs:complexType>

</xs:element>





<xs:element name="figure">

		<xs:annotation>

			<xs:documentation>

				<p>The &lt;figure&gt; element is used more broadly than what might be expected from its name. In our usage, figure includes the usual things such as photographs and line drawings, but also maps and any other non-textual material that should appear in a text at a particular point.</p>

				<p>We have deliberately not made any mention of the notation for the value of the &quot;src&quot; attribute as that will vary from system to system, depending upon software capabilities. Bodies such as the IEFT (Internet Engineering Task Force) set standards for use of such notations by software and should be consulted for proper usage.</p>

			</xs:documentation>

		</xs:annotation>

	    <xs:complexType>

		<xs:choice minOccurs="0" maxOccurs="unbounded">

			   <xs:element ref="caption"/>

                           <xs:element ref="index"/>

			   <xs:element ref="note"/>

		</xs:choice>

		<xs:attribute name="osisRef" type="osisRefType" use="optional"/>

		<xs:attribute name="src" type="xs:string"/>

		<xs:attributeGroup ref="globalWithType"/>

		<xs:attribute name="TEIform" fixed="div"/>

	   </xs:complexType>

</xs:element>



<xs:element name="foreign">

		<xs:annotation>

			<xs:documentation>

				<p>The &lt;foreign&gt; element is used to mark foreign words or phrases that occur in a text. In some cases that may be for purposes of special display of such words, such as displaying &quot;foreign&quot; words in an English text in italics. In others, it may be to allow the use of a special font to insure properly rendering of the text. Foreign in this sense means different from the text being encoded and not foreign from a particular language. The quotation of Armaic words in a New Testament translation (whether the translation is English, Spanish or German) is an example of foreign words in a text.</p>

			</xs:documentation>

		</xs:annotation>

	<xs:complexType mixed="true">

		<xs:choice minOccurs="0" maxOccurs="unbounded">

			<xs:element ref="a"/>

			<xs:element ref="abbr"/>

			<xs:element ref="date"/>

			<xs:element ref="divineName"/>

			<xs:element ref="hi"/>

			<xs:element ref="foreign"/>

                        <xs:element ref="index"/>

			<xs:element ref="milestone"/>

			<xs:element ref="name"/>

			<xs:element ref="note"/>

			<xs:element ref="reference"/>

	                <xs:element ref="seg"/>

			<xs:element ref="title"/>

			<xs:element ref="w"/>

		</xs:choice>

		<xs:attributeGroup ref="globalWithType"/>

		<xs:attribute name="TEIform" fixed="foreign"/>

	</xs:complexType>

</xs:element>





<xs:element name="head">

		<xs:annotation>

			<xs:documentation>

				<p>The &lt;head&gt; element occurs only within the &lt;list&gt; element. Its function is to provide a header for a list of items. Note that it can contain itself, so it is possible to have sub-headings under a main heading for a list.</p>

				<p>Does not map precisely to TEI &lt;head&gt; because TEI allows &lt;head&gt; for things such as tables, figure, etc. Have included the mapping as a reference for users but be aware of the less extensive usage in OSIS.</p>

			</xs:documentation>

		</xs:annotation>

	    <xs:complexType mixed="true">

		<xs:choice minOccurs="0" maxOccurs="unbounded">

			   <xs:element ref="a"/>

			   <xs:element ref="abbr"/>

			   <xs:element ref="date"/>

                           <xs:element ref="divineName"/>

			   <xs:element ref="hi"/>

                           <xs:element ref="foreign"/>

			   <xs:element ref="head"/>

                           <xs:element ref="index"/>

                           <xs:element ref="milestone"/>

			   <xs:element ref="milestoneEnd"/>

			   <xs:element ref="milestoneStart"/>

                           <xs:element ref="name"/>

			   <xs:element ref="note"/>

                           <xs:element ref="q"/>

                           <xs:element ref="reference"/>

			   <xs:element ref="seg"/>

                           <xs:element ref="w"/>

		</xs:choice>

		<xs:attributeGroup ref="globalWithType"/>

		<xs:attribute name="TEIform" fixed="head"/>

	   </xs:complexType>

</xs:element>







<xs:element name="hi">

		<xs:annotation>

			<xs:documentation>

				<p>The &lt;hi&gt; element is a generic element that can be used to record emphasis and the type of emphasis for an authored text. It should not be used with primary source materials or translations to mark portions of texts that have been rendered differently from the surrounding text. The words of Jesus in a red-letter edition for example, should not be encoded using the &lt;hi&gt; element. To merely record that the words appear in the color red is to miss the reason why they are marked in red, a fact that will probably be of interest to others reading the text.</p>

			</xs:documentation>

		</xs:annotation>

	    <xs:complexType mixed="true">

	    	<xs:choice minOccurs="0" maxOccurs="unbounded">

		           <xs:element ref="a"/>

			   <xs:element ref="abbr"/>

			   <xs:element ref="date"/>

			   <xs:element ref="divineName"/>

			   <xs:element ref="hi"/>

                           <xs:element ref="milestone"/>

			   <xs:element ref="milestoneEnd"/>

			   <xs:element ref="milestoneStart"/>

			   <xs:element ref="name"/>

			   <xs:element ref="w"/>

		</xs:choice>

		<xs:attributeGroup ref="globalWithType"/>

		<xs:attribute name="TEIform" fixed="hi"/>

	   </xs:complexType>

</xs:element>





<xs:element name="index">

        <xs:annotation>

            <xs:documentation>

                <p>The &lt;index&gt; element is an empty element that is used to mark index locations in a text. It follows the TEI Guidelines in most respects, with the addition of a &quot;see&quot; attribute which is explained below. Note that the level attributes (level1 - level4) correspond to a main entry (level1) and nested entries under that entry. Thus, the levels link the attribute values together in hierarchy of topics. If you want a separate index entry for a particular

location, use another index element.</p>

                                <p>The &quot;see&quot; attribute was added to the TEI syntax to enable the recording of a see or see also entry in the index. The value of that attribute should be a level1 entry that occurs in the document instance. Automatic processing should generate a link to the appropriate location in the text but use of the string provides a useful fallback to the user by specifying the index entry that should be a pointer to the appropriate location.</p>

                              <p>If it is desired to have see or see also entries at other levels of the index, separate index tags should be inserted with the appropriate see attributes.</p>

                                 <p>Examples:

Standard usage of this element:



&lt;index id=&quot;1234&quot; index=&quot;subject&quot; level1=&quot;Job&quot; level2=&quot;theodicy&quot; level3=&quot;parallel literature&quot; level4=&quot;Babylonian sufferer&quot; see=&quot;Suffering - Theodicy&quot;/&gt;



would result in an entry in the subject index that looks like this:



Job

 theodicy

   parallel literature

     Babylonian sufferer (pointer to location in text [id])

see: Suffering - Theodicy</p>              

 			</xs:documentation>

        	</xs:annotation>

        <xs:complexType>

               <xs:attribute name="index" type="xs:string" use="required"/>

               <xs:attribute name="level1" type="xs:string" use="required"/>                

	       <xs:attribute name="level2" type="xs:string" use="optional"/>

               <xs:attribute name="level3" type="xs:string" use="optional"/>

               <xs:attribute name="level4" type="xs:string" use="optional"/>

               <xs:attribute name="see" type="xs:string" use="optional"/>

        <xs:attributeGroup ref="globalWithType"/>

        <xs:attribute name="TEIform" fixed="index"/>

        </xs:complexType>

</xs:element>  



<xs:element name="inscription">

		<xs:annotation>

			<xs:documentation>

				<p>The &lt;inscription&gt; element should not be used for quotations but only in cases where an actual physical inscription is being reported or recorded.</p>

				<p>The TEI has no equivalent of this element.</p>

			</xs:documentation>

		</xs:annotation>

	    <xs:complexType mixed="true">

		<xs:choice minOccurs="0" maxOccurs="unbounded">

			   <xs:element ref="a"/>

			   <xs:element ref="abbr"/>

		           <xs:element ref="date"/>

                           <xs:element ref="divineName"/>

			   <xs:element ref="hi"/>

                           <xs:element ref="foreign"/>

                           <xs:element ref="index"/>

                           <xs:element ref="milestone"/>

			   <xs:element ref="milestoneEnd"/>

			   <xs:element ref="milestoneStart"/>

                           <xs:element ref="name"/>

			   <xs:element ref="note"/>

			   <xs:element ref="q"/>

                           <xs:element ref="reference"/>

			   <xs:element ref="seg"/>

			   <xs:element ref="speaker"/>

			   <xs:element ref="speech"/>

			   <xs:element ref="title"/>

			   <xs:element ref="w"/>

		</xs:choice>

		<xs:attributeGroup ref="globalWithType"/>

	   </xs:complexType>

</xs:element>





<xs:element name="item">

		<xs:annotation>

			<xs:documentation>

				<p>The &lt;item&gt; element is solely used by &lt;list&gt; and is used to contain material commonly found in lists. It can be preceded by a &lt;label&gt; so it can be part of a glossary or simple dictionary type listing.</p>

			</xs:documentation>

		</xs:annotation>

	    <xs:complexType mixed="true">

		<xs:sequence minOccurs="0" maxOccurs="unbounded">

		<xs:element ref="label" minOccurs="0" maxOccurs="1"/>

			   <xs:choice minOccurs="0" maxOccurs="unbounded">

				      <xs:element ref="a"/>

				      <xs:element ref="abbr"/>

				      <xs:element ref="date"/>

				      <xs:element ref="divineName"/>

				      <xs:element ref="hi"/>

				      <xs:element ref="foreign"/>

				      <xs:element ref="index"/>

				      <xs:element ref="lg"/>

				      <xs:element ref="list"/>

				      <xs:element ref="milestone"/>

				      <xs:element ref="milestoneEnd"/>

				      <xs:element ref="milestoneStart"/>

				      <xs:element ref="name"/>

				      <xs:element ref="note"/>

				      <xs:element ref="p"/>

				      <xs:element ref="q"/>

				      <xs:element ref="reference"/>

				      <xs:element ref="seg"/>

				      <xs:element ref="title"/>

				      <xs:element ref="transChange"/>

				      <xs:element ref="verse"/>

				      <xs:element ref="w"/>

			</xs:choice>

		</xs:sequence>

		<xs:attributeGroup ref="globalWithType"/>

		<xs:attribute name="role" type="xs:string" use="optional"/>

		<xs:attribute name="TEIform" fixed="item"/>

	   </xs:complexType>

</xs:element>





<xs:element name="label">

		<xs:annotation>

			<xs:documentation>

				<p>The &lt;label&gt; element is an optional element within &lt;list&gt; which allows the following: &lt;list&gt;&lt;label&gt;Crosswire.org&lt;/label&gt;&lt;item&gt;A volunteer group of highly skilled programmers who write Bible software&lt;/item&gt;&lt;/list&gt;.</p>

			</xs:documentation>

		</xs:annotation>

	    <xs:complexType mixed="true">

		<xs:choice minOccurs="0" maxOccurs="unbounded">

			   <xs:element ref="a"/>

			   <xs:element ref="abbr"/>

			   <xs:element ref="date"/>

                           <xs:element ref="divineName"/>

			   <xs:element ref="hi"/>

                           <xs:element ref="foreign"/>

                           <xs:element ref="index"/>

                           <xs:element ref="milestone"/>

			   <xs:element ref="milestoneEnd"/>

			   <xs:element ref="milestoneStart"/>

                           <xs:element ref="name"/>

			   <xs:element ref="note"/>

			   <xs:element ref="q"/>

			   <xs:element ref="reference"/>

			   <xs:element ref="seg"/>

			   <xs:element ref="transChange"/>

			   <xs:element ref="w"/>

		</xs:choice>

		<xs:attributeGroup ref="globalWithType"/>

		<xs:attribute name="role" type="xs:string" use="optional"/>

		<xs:attribute name="TEIform" fixed="label"/>

	   </xs:complexType>

</xs:element>





<xs:element name="l">

		<xs:annotation>

			<xs:documentation>

				<p>The &lt;l&gt; element is solely a child of &lt;lg&gt;. That means that is should not be used to mark lines in a text. Being aware that some translations place great emphasis on line breaks, the &lt;seg&gt; element should be used for that purpose. Scholars should note that more robust mechanisms for marking orthographic (how the text is written) features of original texts will be included in the scholarly module to be issued by the OSIS initiative.</p>

			</xs:documentation>

		</xs:annotation>

	    <xs:complexType mixed="true">

		<xs:choice minOccurs="0" maxOccurs="unbounded">

			   <xs:element ref="a"/>

			   <xs:element ref="abbr"/>

			   <xs:element ref="date"/>

			   <xs:element ref="divineName"/>

			   <xs:element ref="hi"/>

			   <xs:element ref="foreign"/>

			   <xs:element ref="index"/>

			   <xs:element ref="mentioned"/>

                           <xs:element ref="milestone"/>

			   <xs:element ref="milestoneEnd"/>

			   <xs:element ref="milestoneStart"/>

			   <xs:element ref="name"/>

			   <xs:element ref="note"/>

			   <xs:element ref="q"/>

			   <xs:element ref="reference"/>

			   <xs:element ref="seg"/>

			   <xs:element ref="speaker"/>

			   <xs:element ref="transChange"/>

			   <xs:element ref="verse"/>

			   <xs:element ref="w"/>

		</xs:choice>

		<xs:attributeGroup ref="globalWithType"/>

		<xs:attribute name="TEIform" fixed="l"/>

	   </xs:complexType>

</xs:element>





<xs:element name="lg">

		<xs:annotation>

			<xs:documentation>

				<p>The &lt;lineGroup&gt; element is for use in marking poetic texts, such as are found in Psalms and Proverbs. It contains only the &lt;line&gt; and &lt;milestone&gt; elements.</p>

			</xs:documentation>

		</xs:annotation>

	    <xs:complexType>

		<xs:choice minOccurs="0" maxOccurs="unbounded">

                           <xs:element ref="index"/>

			   <xs:element ref="l"/>

			   <xs:element ref="lg"/>

			   <xs:element ref="milestone"/>

			   <xs:element ref="milestoneEnd"/>

			   <xs:element ref="milestoneStart"/>

		</xs:choice>

		<xs:attributeGroup ref="globalWithType"/>

		<xs:attribute name="TEIform" fixed="lg"/>

	   </xs:complexType>

</xs:element>





<xs:element name="list">

		<xs:annotation>

			<xs:documentation>

				<p>The &lt;list&gt; element is used for common lists of items, as well as simple glossaries and definition lists. The &lt;list&gt; element can contain embedded lists, thereby allowing embedded sublists.</p>

			</xs:documentation>

		</xs:annotation>

	    <xs:complexType mixed="true">

		<xs:choice minOccurs="0" maxOccurs="unbounded">

			<xs:element ref="head"/>

                        <xs:element ref="index"/>

			<xs:element ref="item"/>

			<xs:element ref="list"/>

			<xs:element ref="milestone"/>

			<xs:element ref="milestoneEnd"/>

			<xs:element ref="milestoneStart"/>

		</xs:choice>

		<xs:attributeGroup ref="globalWithType"/>

		<xs:attribute name="TEIform" fixed="list"/>

	   </xs:complexType>

</xs:element>





<xs:element name="mentioned">

		<xs:annotation>

			<xs:documentation>

				<p>The &lt;mentioned&gt; element is used to mark words (or phrases) that are mentioned but not used. When illustrating a grammatical point, a commentary may insert a word as an example of a particular usage. This is more important for use in notes or commentaries than original texts, but there are cases where it would be appropriate there as well.</p>

			</xs:documentation>

		</xs:annotation>

	    <xs:complexType mixed="true">

		<xs:choice minOccurs="0" maxOccurs="unbounded">

			   <xs:element ref="a"/>

			   <xs:element ref="abbr"/>

			   <xs:element ref="date"/>

			   <xs:element ref="divineName"/>

                           <xs:element ref="hi"/>

			   <xs:element ref="foreign"/>

			   <xs:element ref="index"/>

                           <xs:element ref="milestone"/>

			   <xs:element ref="milestoneEnd"/>

			   <xs:element ref="milestoneStart"/>

			   <xs:element ref="name"/>

			   <xs:element ref="note"/>

			   <xs:element ref="q"/>

			   <xs:element ref="reference"/>

			   <xs:element ref="seg"/>

			   <xs:element ref="transChange"/>

			   <xs:element ref="w"/>

		</xs:choice>

		<xs:attributeGroup ref="globalWithType"/>

		<xs:attribute name="TEIform" fixed="mentioned"/>

	   </xs:complexType>

</xs:element>





<xs:element name="milestone">

		<xs:annotation>

			<xs:documentation>

				<p>The &lt;milestone&gt; element is a true empty element that is used to mark locations in a text. It carries not semantics other than a location in the text stream. It can be used along with its type attribute to record elements that otherwise would overlap. The milestone_Pt attribute is used to indicate the type of attribute, such as a screen break - sb (also known as a shadow milestone), pb (page break) and others.</p>

			</xs:documentation>

		</xs:annotation>

	    <xs:complexType>

		<xs:attributeGroup ref="globalWithoutType"/>

		<xs:attribute name="type" type="milestonePt"/>

		<xs:attribute name="TEIform" fixed="milestone"/>

	    </xs:complexType>

</xs:element>  



<xs:element name="milestoneEnd">

		<xs:annotation>

			<xs:documentation>

				<p>The &lt;milestoneEnd&gt; element is used with the &lt;milestoneStart&gt; element to carry a semantic of containership for an enumerated list of elements. That element type is specified on the milestone_SE (Start/End) attribute. Milestones of this type are linked by having identical osisID and splitID values.</p>

			</xs:documentation>

		</xs:annotation>

	    <xs:complexType>

		<xs:attributeGroup ref="globalWithType"/>

		<xs:attribute name="start" type="xs:string" use="required"/>

		<xs:attribute name="TEIform" fixed="milestone"/>

	    </xs:complexType>

</xs:element>  



<xs:element name="milestoneStart">

		<xs:annotation>

			<xs:documentation>

				<p>The &lt;milestoneStart&gt; element element is used with the &lt;milestoneStart&gt; element to carry a semantic of containership. That element being emulated should be specified with the type attribute. Milestones of this type are linked by the end attribute of the milestoneStart and the start attribute of milestoneEnd. In cases where emulated containers have special attributes, such as who or level for quote, those attributes should be added to milestoneStart.</p>

			</xs:documentation>

		</xs:annotation>

	    <xs:complexType>

		<xs:attributeGroup ref="globalWithType"/>

		<xs:attribute name="end" type="xs:string" use="required"/>
		
		<xs:attribute name="who" type="xs:string"/>

		<xs:attribute name="level" type="xs:string"/>

		<xs:attribute name="TEIform" fixed="milestone"/>

	    </xs:complexType>

</xs:element>  



<xs:element name="name">

		<xs:annotation>

			<xs:documentation>

				<p>The &lt;name&gt; element is useful as it allows the user to declare a regular form for a name that may be written in different forms in the text. For example, to recover all the instances of the name Susan, it might be necessary to recover all instances of Susan, Susie (as a nickname), Susie-Q (another nickname), as well as Suzanne (which might be the person's full legal name. The regular attribute on &lt;name&gt; allows the use of a single form of the name for indexing and searching purposes.</p>

			</xs:documentation>

		</xs:annotation>

	    <xs:complexType mixed="true">

		<xs:choice minOccurs="0" maxOccurs="unbounded">

			   <xs:element ref="a"/>

			   <xs:element ref="abbr"/>

			   <xs:element ref="foreign"/>

                           <xs:element ref="index"/>

			   <xs:element ref="note"/>

			   <xs:element ref="reference"/>

			   <xs:element ref="seg"/>

			   <xs:element ref="w"/>

		</xs:choice>

		<xs:attribute name="nameType" type="nameType" use="optional"/>

		<xs:attribute name="regular" type="xs:string" use="optional"/>

		<xs:attributeGroup ref="globalWithoutType"/>

		<xs:attribute name="TEIform" fixed="name"/>

	   </xs:complexType>

</xs:element>





<xs:element name="note">

		<xs:annotation>

			<xs:documentation>

				<p>The &lt;note&gt; element abounds in Bible translations, commentaries and other works about biblical literature. The actual text of the &lt;note&gt; is recorded inline, where it applies to the text, but that is not necessarily where it is displayed. If it is more convenient to record notes at the end of a text, care should be taken to point to the proper reference for the note using the work and cite attributes.</p>

			</xs:documentation>

		</xs:annotation>

	    <xs:complexType mixed="true">

	    <xs:sequence>

	        <xs:element ref="note" minOccurs="0" maxOccurs="unbounded"/>

	    	<xs:choice minOccurs="0" maxOccurs="unbounded">

			   <xs:element ref="a"/>

			   <xs:element ref="abbr"/>

			   <xs:element ref="catchWord"/>

			   <xs:element ref="date"/>

			   <xs:element ref="divineName"/>

			   <xs:element ref="hi"/>

			   <xs:element ref="figure"/>

			   <xs:element ref="foreign"/>

			   <xs:element ref="index"/>

			   <xs:element ref="inscription"/>

                           <xs:element ref="lg"/>

			   <xs:element ref="list"/>

			   <xs:element ref="mentioned"/>

			   <xs:element ref="milestone"/>

			   <xs:element ref="milestoneEnd"/>

			   <xs:element ref="milestoneStart"/>

			   <xs:element ref="name"/>

			   <xs:element ref="p"/>

			   <xs:element ref="q"/>

			   <xs:element ref="rdg"/>

			   <xs:element ref="reference"/>

			   <xs:element ref="seg"/>

			   <xs:element ref="table"/>

			   <xs:element ref="title"/>

			   <xs:element ref="verse"/>

			   <xs:element ref="w"/>

		</xs:choice>

	     </xs:sequence>

		<xs:attributeGroup ref="globalWithoutType"/>

		<xs:attribute name="noteType" type="noteType" use="optional"/>

		<xs:attribute name="osisRef" type="osisRefType" use="optional"/>

		<xs:attribute name="TEIform" fixed="note"/>

	   </xs:complexType>

</xs:element>





<xs:element name="p">

		<xs:annotation>

			<xs:documentation>

				<p>The &lt;p&gt; element is probably the most common element in encoding outside of the Bible itself and then only if the more recent tradition of using the &lt;p&gt; as the basis for translation is not followed.</p>

			</xs:documentation>

		</xs:annotation>

	    <xs:complexType mixed="true">

	    	<xs:choice minOccurs="0" maxOccurs="unbounded">

			   <xs:element ref="a"/>

			   <xs:element ref="abbr"/>

			   <xs:element ref="catchWord"/>

			   <xs:element ref="date"/>

                           <xs:element ref="divineName"/>

			   <xs:element ref="hi"/>

			   <xs:element ref="figure"/>

			   <xs:element ref="foreign"/>

			   <xs:element ref="index"/>

                           <xs:element ref="inscription"/>

			   <xs:element ref="lg"/>

			   <xs:element ref="list"/>

			   <xs:element ref="mentioned"/>

			   <xs:element ref="milestone"/>

			   <xs:element ref="milestoneEnd"/>

			   <xs:element ref="milestoneStart"/>

			   <xs:element ref="name"/>

			   <xs:element ref="note"/>

			   <xs:element ref="q"/>

			   <xs:element ref="rdg"/>

			   <xs:element ref="reference"/>

			   <xs:element ref="salute"/>

			   <xs:element ref="seg"/>

			   <xs:element ref="signed"/>

			   <xs:element ref="speaker"/>

			   <xs:element ref="speech"/>

			   <xs:element ref="title"/>

			   <xs:element ref="transChange"/>

			   <xs:element ref="verse"/>

			   <xs:element ref="w"/>

		</xs:choice>

		<xs:attributeGroup ref="globalWithType"/>

		<xs:attribute name="TEIform" fixed="p"/>

	   </xs:complexType>

</xs:element>





<xs:element name="q">

		<xs:annotation>

			<xs:documentation>

				<p>The &lt;q&gt; element is used for quotes, block quotes, embedded quotes, and (quotes within quotes). There is no real difference between a quote and a block quote other than formatting so both of those are treated with this single element. Note that  this element does not contain the element &lt;verse&gt; such that is a speaker is citing a verse in a speech, the proper way to encode that would be as a &lt;reference&gt; within the larger &lt;q&gt; element.</p>

				<p>When segmenting quotes, use the same qID, and increment the segID to allow retrieval of the entire quotation.</p>

			</xs:documentation>

		</xs:annotation>

		 <xs:complexType mixed="true">

		<xs:choice minOccurs="0" maxOccurs="unbounded">

			   <xs:element ref="a"/>

			   <xs:element ref="abbr"/>

			   <xs:element ref="closer"/>

			   <xs:element ref="date"/>

			   <xs:element ref="divineName"/>

			   <xs:element ref="figure"/>

			   <xs:element ref="foreign"/>

			   <xs:element ref="hi"/>

			   <xs:element ref="index"/>

			   <xs:element ref="inscription"/>

                           <xs:element ref="lg"/>

                           <xs:element ref="list"/>

			   <xs:element ref="mentioned"/>

			   <xs:element ref="milestone"/>

			   <xs:element ref="milestoneEnd"/>

			   <xs:element ref="milestoneStart"/>

			   <xs:element ref="name"/>

			   <xs:element ref="note"/>

			   <xs:element ref="p"/>

			   <xs:element ref="q"/>

			   <xs:element ref="reference"/>

			   <xs:element ref="salute"/>

			   <xs:element ref="seg"/>

			   <xs:element ref="signed"/>

			   <xs:element ref="speaker"/>

			   <xs:element ref="speech"/>

			   <xs:element ref="table"/>

			   <xs:element ref="title"/>

			   <xs:element ref="transChange"/>

			   <xs:element ref="verse"/>

                           <xs:element ref="w"/>

		</xs:choice>

		<xs:attributeGroup ref="globalWithType"/>
		
		<xs:attribute name="level" type="xs:string" use="optional"/>

		<xs:attribute name="who" type="xs:string" use="optional"/>

		<xs:attribute name="TEIform" fixed="q"/>

	   </xs:complexType>

</xs:element>

<xs:element name="rdg">

		<xs:annotation>

			<xs:documentation>

				<p>The &lt;reading&gt; element is found only in &lt;note&gt; and records alternative readings to a passage in the text or commentary.</p>

				<p>While not used in a formal critical apparatus as is the case in TEI, there is a fairly close correspondence between this element and the &lt;rdg&gt; element in TEI.</p>

			</xs:documentation>

		</xs:annotation>

	    <xs:complexType mixed="true">

	    	<xs:choice minOccurs="0" maxOccurs="unbounded">

			   <xs:element ref="a"/>

			   <xs:element ref="abbr"/>

			   <xs:element ref="date"/>

			   <xs:element ref="divineName"/>

			   <xs:element ref="hi"/>

			   <xs:element ref="foreign"/>

			   <xs:element ref="index"/>

			   <xs:element ref="lg"/>

			   <xs:element ref="list"/>

                           <xs:element ref="milestone"/>

			   <xs:element ref="milestoneEnd"/>

			   <xs:element ref="milestoneStart"/>

			   <xs:element ref="name"/>

			   <xs:element ref="note"/>

			   <xs:element ref="p"/>

			   <xs:element ref="q"/>

			   <xs:element ref="reference"/>

			   <xs:element ref="seg"/>

			   <xs:element ref="transChange"/>

			   <xs:element ref="w"/>

		</xs:choice>

		<xs:attributeGroup ref="globalWithType"/>

		<xs:attribute name="TEIform" fixed="rdg"/>

	   </xs:complexType>

</xs:element>





<xs:element name="reference">

		<xs:annotation>

			<xs:documentation>

				<p>The &lt;reference&gt; element will be the subject of extension to include XLink/XPointer syntax in a later OSIS release. At present it marks the location of a reference in one text to another, whether direct (like citation/quotation) or indirect (such as an allusion), along with the reference/pointing mechanism in this release.</p>

			</xs:documentation>

		</xs:annotation>

	    <xs:complexType mixed="true">

	    	<xs:choice minOccurs="0" maxOccurs="unbounded">

			   <xs:element ref="a"/>

			   <xs:element ref="abbr"/>

			   <xs:element ref="date"/>

			   <xs:element ref="divineName"/>

			   <xs:element ref="hi"/>

			   <xs:element ref="foreign"/>

			   <xs:element ref="index"/>

                           <xs:element ref="milestone"/>

			   <xs:element ref="milestoneEnd"/>

			   <xs:element ref="milestoneStart"/>

			   <xs:element ref="name"/>

			   <xs:element ref="note"/>

			   <xs:element ref="seg"/>

			   <xs:element ref="title"/>

			   <xs:element ref="w"/>

		</xs:choice>

		<xs:attribute name="osisRef" type="osisRefType" use="optional"/>

		<xs:attributeGroup ref="globalWithType"/>

	   </xs:complexType>

</xs:element>



<xs:element name="row">

	<xs:complexType>

		<xs:sequence>

	     		<xs:element ref="cell" minOccurs="1" maxOccurs="unbounded"/>

		</xs:sequence>

		<xs:attribute name="role" type="tableRole" use="optional"/>

		<xs:attributeGroup ref="globalWithType"/>

		<xs:attribute name="TEIform" fixed="row"/>

	</xs:complexType>

</xs:element>



<xs:element name="salute">

		<xs:annotation>

			<xs:documentation>

				<p>The &lt;salute&gt; element is used to encompass the opening salutation of a letter.</p>

			</xs:documentation>

		</xs:annotation>

	    <xs:complexType mixed="true">

	    	<xs:choice minOccurs="0" maxOccurs="unbounded">

			   <xs:element ref="a"/>

			   <xs:element ref="abbr"/>

			   <xs:element ref="date"/>

			   <xs:element ref="divineName"/>

			   <xs:element ref="hi"/>

			   <xs:element ref="foreign"/>

			   <xs:element ref="index"/>

                           <xs:element ref="lg"/>

			   <xs:element ref="list"/>

			   <xs:element ref="mentioned"/>

			   <xs:element ref="milestone"/>

			   <xs:element ref="milestoneEnd"/>

			   <xs:element ref="milestoneStart"/>

			   <xs:element ref="name"/>

			   <xs:element ref="note"/>

			   <xs:element ref="p"/>

			   <xs:element ref="q"/>

			   <xs:element ref="reference"/>

			   <xs:element ref="seg"/>

			   <xs:element ref="speaker"/>

			   <xs:element ref="transChange"/>

			   <xs:element ref="verse"/>

			   <xs:element ref="w"/>

		</xs:choice>

		<xs:attributeGroup ref="globalWithType"/>

		<xs:attribute name="TEIform" fixed="salute"/>

	   </xs:complexType>

</xs:element>





<xs:element name="seg">

		<xs:annotation>

			<xs:documentation>

				<p>The &lt;seg&gt; element is a generic phrase container element. Its primary use should be for phrase level markup that was omitted in this release (please send a note to the project with your requirements), representation of line breaks in a translation (or original text), or for some other purpose for which no other element suffices.</p>

			</xs:documentation>

		</xs:annotation>

	    <xs:complexType mixed="true">

	    	<xs:choice minOccurs="0" maxOccurs="unbounded">

			   <xs:element ref="a"/>

			   <xs:element ref="abbr"/>

			   <xs:element ref="date"/>

			   <xs:element ref="divineName"/>

			   <xs:element ref="hi"/>

			   <xs:element ref="foreign"/>

			   <xs:element ref="index"/>

                           <xs:element ref="milestone"/>

			   <xs:element ref="milestoneEnd"/>

			   <xs:element ref="milestoneStart"/>

			   <xs:element ref="name"/>

			   <xs:element ref="note"/>

			   <xs:element ref="q"/>

			   <xs:element ref="reference"/>

			   <xs:element ref="seg"/>

			   <xs:element ref="transChange"/>

			   <xs:element ref="w"/>

		</xs:choice>

		<xs:attributeGroup ref="globalWithType"/>

		<xs:attribute name="TEIform" fixed="seg"/>

	   </xs:complexType>

</xs:element>





<xs:element name="signed">

		<xs:annotation>

			<xs:documentation>

				<p>The &lt;signed&gt; element is used to encode the closing material of a letter or similar text.</p>

			</xs:documentation>

		</xs:annotation>

	    <xs:complexType mixed="true">

	    	<xs:choice minOccurs="0" maxOccurs="unbounded">

			   <xs:element ref="a"/>

			   <xs:element ref="abbr"/>

			   <xs:element ref="divineName"/>

			   <xs:element ref="hi"/>

			   <xs:element ref="foreign"/>

			   <xs:element ref="index"/>

		           <xs:element ref="milestone"/>

			   <xs:element ref="milestoneEnd"/>

			   <xs:element ref="milestoneStart"/>

			   <xs:element ref="name"/>

			   <xs:element ref="reference"/>

			   <xs:element ref="seg"/>

			   <xs:element ref="w"/>

		</xs:choice>

		<xs:attributeGroup ref="globalWithType"/>

		<xs:attribute name="TEIform" fixed="signed"/>

	   </xs:complexType>

</xs:element>





<xs:element name="speaker">

		<xs:annotation>

			<xs:documentation>

				<p>The &lt;speaker&gt; element can be used to enclose the name of a speaker in the text (when reported) but can also bear speaker information when not apparent in the text, such as the shifts of speaker in the Song of Solomon.</p>

			</xs:documentation>

		</xs:annotation>

	    <xs:complexType mixed="true">

	    	<xs:choice minOccurs="0" maxOccurs="unbounded">

			   <xs:element ref="a"/>

			   <xs:element ref="abbr"/>

			   <xs:element ref="divineName"/>

			   <xs:element ref="foreign"/>

                           <xs:element ref="index"/>

			   <xs:element ref="name"/>

			   <xs:element ref="note"/>

			   <xs:element ref="reference"/>

			   <xs:element ref="w"/>

		</xs:choice>

		<xs:attributeGroup ref="globalWithType"/>

 		<xs:attribute name="who" type="xs:string" use="optional"/>

		<xs:attribute name="TEIform" fixed="speaker"/>

	   </xs:complexType>

</xs:element>





<xs:element name="speech">

		<xs:annotation>

			<xs:documentation>

				<p>The &lt;speech&gt; element should be used to encode reported speeches. Those should be distinguished from quotes, although that distinction will not always be clear.</p>

			</xs:documentation>

		</xs:annotation>

	    <xs:complexType mixed="true">

	    <xs:sequence>

	        <xs:element ref="speech" minOccurs="0" maxOccurs="unbounded"/>

	    	<xs:choice minOccurs="0" maxOccurs="unbounded">

			   <xs:element ref="a"/>

			   <xs:element ref="abbr"/>

			   <xs:element ref="date"/>

			   <xs:element ref="divineName"/>

			   <xs:element ref="hi"/>

			   <xs:element ref="foreign"/>

			   <xs:element ref="index"/>

			   <xs:element ref="inscription"/>

			   <xs:element ref="lg"/>

			   <xs:element ref="list"/>

			   <xs:element ref="mentioned"/>

			   <xs:element ref="milestone"/>

			   <xs:element ref="milestoneEnd"/>

			   <xs:element ref="milestoneStart"/>

			   <xs:element ref="name"/>

			   <xs:element ref="note"/>

			   <xs:element ref="p"/>

			   <xs:element ref="q"/>

			   <xs:element ref="reference"/>

			   <xs:element ref="salute"/>

			   <xs:element ref="seg"/>

			   <xs:element ref="signed"/>

			   <xs:element ref="speaker"/>

			   <xs:element ref="transChange"/>

			   <xs:element ref="verse"/>

			   <xs:element ref="w"/>

		</xs:choice>

	    </xs:sequence>

		<xs:attributeGroup ref="globalWithType"/>

		<xs:attribute name="TEIform" fixed="speech"/>

	   </xs:complexType>

</xs:element>



<xs:element name="table">

		<xs:annotation>

			<xs:documentation>

				<p>The &lt;table&gt; element is used for all types of tables. Note that the &lt;table&gt; element can nest, so it is possible to have tables nested within tables. We have followed the TEI table model, and so both rows and cells have a role attribute that specifies the function of that element in the table. Both the &lt;table&gt; and &lt;cell&gt; elements can specify the number of rows or columns occupied by that &lt;table&gt; or &lt;cell&gt;. There are no controls to make sure those values make sense other than the requirement that they be positive integer numbers (in other words, 1 or higher).</p>

			</xs:documentation>

		</xs:annotation>

	    <xs:complexType>

	    <xs:sequence>

		<xs:element ref="head" minOccurs="0" maxOccurs="1"/>

		<xs:element ref="row" minOccurs="0" maxOccurs="unbounded"/>

		</xs:sequence>

		<xs:attribute name="rows" type="xs:positiveInteger" use="optional"/>

		<xs:attribute name="cols" type="xs:positiveInteger" use="optional"/>

		<xs:attributeGroup ref="globalWithType"/>

		<xs:attribute name="TEIform" fixed="table"/>

		</xs:complexType>

</xs:element>







<xs:element name="title">

		<xs:annotation>

			<xs:documentation>

				<p>The &lt;title&gt; element is used for titles both in the sense of those of divisions in a work, i.e., chapters, books, but also for titles of other works that occur in notes or even the text. The &lt;title&gt; element can occur within itself so users can have multiple sub-titles if desired.</p>

			</xs:documentation>

		</xs:annotation>

	    <xs:complexType mixed="true">

	    	<xs:choice minOccurs="0" maxOccurs="unbounded">

			   <xs:element ref="a"/>

			   <xs:element ref="abbr"/>

			   <xs:element ref="date"/>

			   <xs:element ref="divineName"/>

			   <xs:element ref="figure"/>
			   
			   <xs:element ref="foreign"/>

			   <xs:element ref="hi"/>

                           <xs:element ref="index"/>

			   <xs:element ref="inscription"/>

                           <xs:element ref="lg"/>

			   <xs:element ref="milestone"/>

			   <xs:element ref="name"/>

			   <xs:element ref="note"/>

			   <xs:element ref="q"/>

			   <xs:element ref="reference"/>

			   <xs:element ref="seg"/>

			   <xs:element ref="title"/>

			   <xs:element ref="w"/>

		</xs:choice>

		<xs:attributeGroup ref="globalWithType"/>

		<xs:attribute name="TEIform" fixed="title"/>

	   </xs:complexType>

</xs:element>





<xs:element name="transChange">

		<xs:annotation>

			<xs:documentation>

				<p>The &lt;transChange&gt; element was formulated to deal with cases where a literal translation has added words to clarify the translation. The Amplified Bible is one example of where this element would be useful but certainly not the only one. Changing the tense of a verb to agree with modern language usage and yet wanting to preserve some indication that the original text had been changed is another.</p>

			</xs:documentation>

		</xs:annotation>

	    <xs:complexType mixed="true">

	    	<xs:choice minOccurs="0" maxOccurs="unbounded">

			   <xs:element ref="a"/>

			   <xs:element ref="abbr"/>

			   <xs:element ref="date"/>

			   <xs:element ref="divineName"/>

			   <xs:element ref="hi"/>

			   <xs:element ref="foreign"/>

			   <xs:element ref="index"/>

			   <xs:element ref="milestone"/>

			   <xs:element ref="milestoneEnd"/>

			   <xs:element ref="milestoneStart"/>

			   <xs:element ref="name"/>

			   <xs:element ref="note"/>

			   <xs:element ref="reference"/>

			   <xs:element ref="seg"/>

			   <xs:element ref="w"/>

		</xs:choice>

		<xs:attribute name="changeType" type="changeType" use="optional"/>

		<xs:attributeGroup ref="globalWithoutType"/>

	   </xs:complexType>

</xs:element>





<xs:element name="verse">

		<xs:annotation>

			<xs:documentation>

				<p>The &lt;verse&gt; element is used to make the standard verse divisions in Bibles, although obviously a later imposition on the text. It is a standard method for referencing biblical materials.</p>

				<p>Note that verses often cross the boundaries of other elements and that raises the question of how to deal with elements that overlap. Normally the verse identifier will be its osisID, exampe &quot;Matt.1.1&quot; and the like. When a verse is segmented, that is split into two or more parts to cross a boundary, like a quotation, the ID should be used to indicate the various parts.</p>

				<p>The &lt;verse&gt; element in OSIS does not have a counterpart in the TEI Guidelines.</p>

			</xs:documentation>

		</xs:annotation>

	    <xs:complexType mixed="true">

	    	<xs:choice minOccurs="0" maxOccurs="unbounded">

			   <xs:element ref="a"/>

			   <xs:element ref="abbr"/>

			   <xs:element ref="date"/>

			   <xs:element ref="divineName"/>

			   <xs:element ref="hi"/>

			   <xs:element ref="foreign"/>

			   <xs:element ref="index"/>

			   <xs:element ref="inscription"/>

			   <xs:element ref="list"/>

			   <xs:element ref="mentioned"/>

			   <xs:element ref="milestone"/>

			   <xs:element ref="milestoneEnd"/>

			   <xs:element ref="milestoneStart"/>

			   <xs:element ref="name"/>

			   <xs:element ref="note"/>

			   <xs:element ref="q"/>

			   <xs:element ref="reference"/>

			   <xs:element ref="seg"/>

			   <xs:element ref="speaker"/>

			   <xs:element ref="title"/>

			   <xs:element ref="transChange"/>

			   <xs:element ref="w"/>

		</xs:choice>

		<xs:attributeGroup ref="globalWithType"/>

	   </xs:complexType>

</xs:element>





<xs:element name="w">

		<xs:annotation>

			<xs:documentation>

				<p>The &lt;w&gt; element is used to mark tokens separated by whitespace, which is probably an inadequate definition of word. It is provided to allow users to attach a variety of other information to such tokens.</p>

			</xs:documentation>

		</xs:annotation>

	    <xs:complexType mixed="true">

	    	<xs:choice minOccurs="0" maxOccurs="unbounded">

			   <xs:element ref="a"/>

			   <xs:element ref="index"/>

			   <xs:element ref="note"/>

			   <xs:element ref="seg"/>

		</xs:choice>

		<xs:attribute name="POS" type="attributeExtension" use="optional"/>

		<xs:attribute name="morph" type="attributeExtension" use="optional"/>

		<xs:attribute name="lemma" type="attributeExtension" use="optional"/>

		<xs:attribute name="gloss" type="xs:string" use="optional"/>

		<xs:attribute name="src" type="xs:string" use="optional"/>

		<xs:attribute name="xlit" type="xs:string" use="optional"/>

		<xs:attributeGroup ref="globalWithType"/>

 		<xs:attribute name="TEIform" fixed="w"/>

	   </xs:complexType>

</xs:element>



<!-- attributes -->





<xs:attributeGroup name="globalWithType">
		   
		<xs:attribute name="annotateWork" type="xs:string" use="optional"/>

		<xs:attribute name="annotateType" type="osisAnnotation" use="optional"/>

		<xs:attribute name="ews" type="xs:string" use="optional"/>

		<xs:attribute name="ID" type="xs:ID" use="optional"/>

		<xs:attribute name="lang" type="languageType" use="optional"/>

		<xs:attribute name="osisID" type="osisIDType" use="optional"/>

		<xs:attribute name="resp" type="xs:string" use="optional"/>

		<xs:attribute name="splitID" type="xs:string" use="optional"/>

		<xs:attribute name="type" type="xs:string" use="optional"/>

		<xs:attribute name="subType" type="xs:string" use="optional"/>

		<xs:attribute name="n" type="xs:string" use="optional"/>
		

</xs:attributeGroup>


<xs:attributeGroup name="globalWithoutType">

		<xs:attribute name="annotateWork" type="xs:string" use="optional"/>

		<xs:attribute name="annotateType" type="osisAnnotation" use="optional"/>

		<xs:attribute name="ews" type="xs:string" use="optional"/>

		<xs:attribute name="ID" type="xs:ID" use="optional"/>

		<xs:attribute name="lang" type="languageType" use="optional"/>

		<xs:attribute name="osisID" type="osisIDType" use="optional"/>

		<xs:attribute name="resp" type="xs:string" use="optional"/>

		<xs:attribute name="splitID" type="xs:string" use="optional"/>

		<xs:attribute name="subType" type="xs:string" use="optional"/>

		<xs:attribute name="n" type="xs:string" use="optional"/>	

</xs:attributeGroup>

 

<!-- simple types -->



<xs:simpleType name="annotation">

	<xs:restriction base="xs:string">

		<xs:enumeration value="commentary"/>

		<xs:enumeration value="exposition"/>

		<xs:enumeration value="meditation"/>

		<xs:enumeration value="outline"/>

		<xs:enumeration value="poeticRendering"/>

		<xs:enumeration value="rebuttal"/>

		<xs:enumeration value="sermon"/>

		<xs:enumeration value="studyGuide"/>

		<xs:enumeration value="translation"/>

	</xs:restriction>

</xs:simpleType>





<xs:simpleType name="attributeExtension">

	<xs:restriction base="xs:string">

		<xs:pattern value="x-([^\s]+)"/>

	</xs:restriction>

</xs:simpleType>





<xs:simpleType name="calendar">

	<xs:restriction base="xs:string">

		<xs:enumeration value="Chinese"/>

		<xs:enumeration value="Gregorian"/>

		<xs:enumeration value="Islamic"/>

		<xs:enumeration value="ISO"/>

		<xs:enumeration value="Jewish"/>

		<xs:enumeration value="Julian"/>

	</xs:restriction>

</xs:simpleType>





<xs:simpleType name="changeType">

	<xs:union memberTypes="osisChanges attributeExtension"/>

</xs:simpleType>





<xs:simpleType name="divType">

	<xs:union memberTypes="osisDivs attributeExtension"/>

</xs:simpleType>



<xs:simpleType name="languageType">

		<xs:restriction base="xs:string">

			<xs:pattern value="(x|i|[A-Za-z]{2,3})(-[A-Za-z0-9]{2,8}){0,}"/>

		</xs:restriction>

	</xs:simpleType>



<xs:simpleType name="milestonePt">

	<xs:union memberTypes="osisMilestonePt attributeExtension"/>

</xs:simpleType>



<xs:simpleType name="milestoneSe">

	<xs:union memberTypes="osisMilestoneSe attributeExtension"/>

</xs:simpleType>



<xs:simpleType name="nameType">

	<xs:union memberTypes="osisNames attributeExtension"/>

</xs:simpleType>



<xs:simpleType name="noteType">

	<xs:union memberTypes="osisNotes attributeExtension"/>

</xs:simpleType>



<xs:simpleType name="osisAnnotation">

	<xs:union memberTypes="annotation attributeExtension"/>

</xs:simpleType>



<xs:simpleType name="osisChanges">

	       <xs:restriction base="xs:string">

		<xs:enumeration value="added"/>

		<xs:enumeration value="amplified"/>

		<xs:enumeration value="changed"/>

		<xs:enumeration value="deleted"/>

		<xs:enumeration value="moved"/>

		<xs:enumeration value="tenseChange"/>

	       </xs:restriction>

</xs:simpleType>



<xs:simpleType name="osisDivs">

	<xs:restriction base="xs:string">

		<xs:enumeration value="appendix"/>

		<xs:enumeration value="book"/>

		<xs:enumeration value="chapter"/>

		<xs:enumeration value="concordance"/>

		<xs:enumeration value="glossary"/>

		<xs:enumeration value="testament"/>

	</xs:restriction>

</xs:simpleType>



<xs:simpleType name="osisIDType">

	 <xs:restriction base="xs:string">

<xs:pattern value="(((\p{L}|\p{N}|_)+)((\.(\p{L}|\p{N}|_)+)*)?:)?((\p{L}|\p{N}|_)+)((\.(\p{L}|\p{N}|_)+)*)?((\s(((\p{L}|\p{N}|_)+)((\.(\p{L}|\p{N}|_)+)*)?:)?((\p{L}|\p{N}|_)+)((\.(\p{L}|\p{N}|_)+)*)?)*)?"/>

	 </xs:restriction>

</xs:simpleType>



<xs:simpleType name="osisMilestonePt">

	<xs:restriction base="xs:string">

		<xs:enumeration value="column"/>

		<xs:enumeration value="footer"/>

		<xs:enumeration value="header"/>

		<xs:enumeration value="line"/>

		<xs:enumeration value="pb"/>

		<xs:enumeration value="screen"/>

	</xs:restriction>

</xs:simpleType>



<xs:simpleType name="osisMilestoneSe">

	<xs:restriction base="xs:string">

		<xs:enumeration value="abbr"/>

		<xs:enumeration value="closer"/>

		<xs:enumeration value="div"/>

		<xs:enumeration value="foreign"/>

		<xs:enumeration value="l"/>

		<xs:enumeration value="lg"/>

		<xs:enumeration value="q"/>

		<xs:enumeration value="salute"/>

		<xs:enumeration value="seg"/>

		<xs:enumeration value="signed"/>

		<xs:enumeration value="speech"/>

		<xs:enumeration value="verse"/>

	</xs:restriction>

</xs:simpleType>



<xs:simpleType name="osisNames">

	<xs:annotation>

		<xs:documentation>

			<p>Enumerated list of name types commonly found in biblical texts.</p>

			<p>The attribute nonhuman was inserted to allow the marking of names that are not encoded with the element divineName. The divineName element was introduced to treat name occurences that are treated differently, i.e., the setting of Lord in small caps, to represent a name in the original text. Rather than attempt to enumerate all the varying traditions for such practices, the divineName element simply recognizes it and allows encoders to follow that practice (or not) as they desire.</p>

		</xs:documentation>

	</xs:annotation>

	<xs:restriction base="xs:string">

		<xs:enumeration value="geographic"/>

		<xs:enumeration value="holiday"/>

		<xs:enumeration value="nonhuman"/>

		<xs:enumeration value="person"/>

		<xs:enumeration value="ritual"/>

	</xs:restriction>

</xs:simpleType>



<xs:simpleType name="osisNotes">

	<xs:restriction base="xs:string">

		<xs:enumeration value="allusion"/>

		<xs:enumeration value="alternative"/>

		<xs:enumeration value="background"/>

		<xs:enumeration value="citation"/>

		<xs:enumeration value="devotional"/>

		<xs:enumeration value="exegesis"/>

		<xs:enumeration value="explanation"/>

		<xs:enumeration value="study"/>

		<xs:enumeration value="translation"/>

		<xs:enumeration value="variant"/>

	</xs:restriction>

</xs:simpleType>



<xs:simpleType name="osisRefType">

	 <xs:restriction base="xs:string">

<xs:pattern value="(((\p{L}|\p{N}|_)+)((\.(\p{L}|\p{N}|_)+)*)?:)?((\p{L}|\p{N}|_)+)((\.(\p{L}|\p{N}|_)+)*)?(@(cp:\[(\p{Nd})*\]|s:\[(\p{L}|\p{N}|\s)*\]))?(\-(((\p{L}|\p{N}|_)*)((\.(\p{L}|\p{N}|_)+)*))(@(cp:\[(\p{Nd})*\]|s:\[(\p{L}|\p{N}|\s)*\]))?)?"/>

	 </xs:restriction>

</xs:simpleType>



<xs:simpleType name="osisRoles">

		<xs:annotation>

			<xs:documentation>

				<p>This is a selected set of the most common role names likely to be needed for basic encoding. The full set of relator codes on which this listing (and the descriptions are based, was taken from: MARC Code List: Relator Codes -- Term Sequence (http://lcweb.loc.gov/marc/relators/re0002r1.html). This listing will be followed for later OSIS modules.</p>

 			</xs:documentation>

		</xs:annotation>

		<xs:restriction base="xs:string">

			<xs:enumeration value="adp">

				<xs:annotation>

					<xs:documentation>Adapter: Use for a person who 1) reworks a musical composition,usually for a different medium, or 2) rewrites novels or stories for motionpictures or other audiovisual medium.</xs:documentation>

				</xs:annotation>

			</xs:enumeration>

			<xs:enumeration value="ann">

				<xs:annotation>

					<xs:documentation>Annotator: Use for a person who writes manuscript annotations on a printed item.</xs:documentation>

				</xs:annotation>

			</xs:enumeration>

			<xs:enumeration value="art">

				<xs:annotation>

					<xs:documentation>Artist: Use for a person (e.g., a painter) who conceives, and perhaps also implements, an original graphic design or work of art, </xs:documentation>

				</xs:annotation>

			</xs:enumeration>

			<xs:enumeration value="aut">

				<xs:annotation>

					<xs:documentation>Author: Use for a person or corporate body chiefly responsiblefor the intellectual or artistic content of a work, usually printed text.  This term may also be used when more than one person or body bears such responsibility.</xs:documentation>

				</xs:annotation>

			</xs:enumeration>

			<xs:enumeration value="aqt">

				<xs:annotation>

					<xs:documentation>Author in quotations or text extracts: Use for a person whose work is largely quoted or extracted in a works to which he or she did not contribute directly.  Such quotations are found particularly in exhibition catalogs, collections of photographs, etc.</xs:documentation>

				</xs:annotation>

			</xs:enumeration>

			<xs:enumeration value="aft">

				<xs:annotation>

					<xs:documentation>Author of afterword, colophon, etc.: Use for a person or corporate body responsible for an afterword, postface, colophon, etc. but who isnot the chief author of a work.</xs:documentation>

				</xs:annotation>

			</xs:enumeration>

			<xs:enumeration value="aui">

				<xs:annotation>

					<xs:documentation>Author of introduction, etc.: Use for a person or corporate body responsible for an introduction, preface, foreword, or other critical introductory matter, but who is not the chief author.</xs:documentation>

				</xs:annotation>

			</xs:enumeration>

			<xs:enumeration value="bnd">

				<xs:annotation>

					<xs:documentation>Binder: </xs:documentation>

				</xs:annotation>

			</xs:enumeration>

			<xs:enumeration value="bdd">

				<xs:annotation>

					<xs:documentation>Binding designer:  Designer of binding</xs:documentation>

				</xs:annotation>

			</xs:enumeration>

			<xs:enumeration value="bkd">

				<xs:annotation>

					<xs:documentation>Book designer: Use for the person or firm responsible for the entire graphic design of a book, including arrangement of type and illustration,choice of materials, and process used.</xs:documentation>

				</xs:annotation>

			</xs:enumeration>

			<xs:enumeration value="bkp">

				<xs:annotation>

					<xs:documentation>Book producer: Use for the person or firm responsible for the production of books and other print media, if specific codes</xs:documentation>

				</xs:annotation>

			</xs:enumeration>

			<xs:enumeration value="bjd">

				<xs:annotation>

					<xs:documentation>Bookjacket designer:  Designer of bookjacket</xs:documentation>

				</xs:annotation>

			</xs:enumeration>

			<xs:enumeration value="bpd">

				<xs:annotation>

					<xs:documentation>Bookplate designer: Designer of bookplate</xs:documentation>

				</xs:annotation>

			</xs:enumeration>

			<xs:enumeration value="ctg">

				<xs:annotation>

					<xs:documentation>Cartographer: </xs:documentation>

				</xs:annotation>

			</xs:enumeration>

			<xs:enumeration value="clb">

				<xs:annotation>

					<xs:documentation>Collaborator: Use for a person or corporate body that takes a limited part in the elaboration of a work of another person or corporate body that brings complements (e.g., appendices, notes) to the work.</xs:documentation>

				</xs:annotation>

			</xs:enumeration>

			<xs:enumeration value="cmm">

				<xs:annotation>

					<xs:documentation>Commentator: Use for a person who provides interpretation, analysis,or a discussion of the subject matter on a recording, motion picture, or other audiovisual medium.</xs:documentation>

				</xs:annotation>

			</xs:enumeration>

			<xs:enumeration value="cwt">

				<xs:annotation>

					<xs:documentation>Commentator for written text: Use for a person or corporate body responsible for the commentary or explanatory notes about a text.  For the writer of manuscript annotations in a printed book, use Annotator</xs:documentation>

				</xs:annotation>

			</xs:enumeration>

			<xs:enumeration value="com">

				<xs:annotation>

					<xs:documentation>Compiler: Use for a person who produces a work or publication by selecting and putting together material from the works of various persons or bodies.</xs:documentation>

				</xs:annotation>

			</xs:enumeration>

			<xs:enumeration value="ctb">

				<xs:annotation>

					<xs:documentation>Contributor: Use for one whose work has been contributed to a larger work, such as an anthology, serial publication, or other compilation of individual works. Do not use for someone whose sole function in relation to a work is as author, editor, compiler or translator.</xs:documentation>

				</xs:annotation>

			</xs:enumeration>

			<xs:enumeration value="cre">

				<xs:annotation>

					<xs:documentation>Creator: Use for a person or corporate body responsible for the intellectual or artistic content of a work.</xs:documentation>

				</xs:annotation>

			</xs:enumeration>

			<xs:enumeration value="edt">

				<xs:annotation>

					<xs:documentation>Editor: Use for a person who prepares for publication a work not primarily his/her own, such as by elucidating text, adding introductory or other critical matter, or technically directing an editorial staff.</xs:documentation>

				</xs:annotation>

			</xs:enumeration>

			<xs:enumeration value="ilu">

				<xs:annotation>

					<xs:documentation>Illuminator: </xs:documentation>

				</xs:annotation>

			</xs:enumeration>

			<xs:enumeration value="ill">

				<xs:annotation>

					<xs:documentation>Illustrator: Use for the person who conceives, and perhaps also implements, a design or illustration, usually to accompany a written text.</xs:documentation>

				</xs:annotation>

			</xs:enumeration>

			<xs:enumeration value="pbl">

				<xs:annotation>

					<xs:documentation>Publisher: </xs:documentation>

				</xs:annotation>

			</xs:enumeration>

			<xs:enumeration value="trl">

				<xs:annotation>

					<xs:documentation>Translator: Use for a person who renders a text from one language into another, or from an older form of a language into the modern form.</xs:documentation>

				</xs:annotation>

			</xs:enumeration>

		</xs:restriction>

	</xs:simpleType>



<xs:simpleType name="roleType">

	<xs:union memberTypes="osisRoles attributeExtension"/>

</xs:simpleType>



<xs:simpleType name="osisWorkType">

	 <xs:restriction base="xs:string">

<xs:pattern value="((\p{L}|\p{N}|_)+)((\.(\p{L}|\p{N}|_)+)*)?"/>

	 </xs:restriction>

</xs:simpleType>





<xs:simpleType name="tableRole">

	       <xs:restriction base="xs:string">

		<xs:enumeration value="label"/>

		<xs:enumeration value="data"/>

	       </xs:restriction>

</xs:simpleType>



</xs:schema>
